[2016-04-28 21:33] jmuk opened #1 "introduce dummy time functions for testing retrying"
Right now two test cases for api_callable are marked as 'skip' because of the lack of mocking time-related features.  We should enable them.

[2016-05-09 22:46] jmuk opened #2 "introduce page interface for streaming"
Similar to the issue of Python (https://github.com/googleapis/gax-python/pull/94) and Ruby (https://github.com/googleapis/gax-ruby/pull/3), we want to support to iterate over pages rather than iterate over resource elements.

We'll do the similar thing to Python for the interface -- add an optional parameter of 'flatten_pages' to control iterate over pages or over resources.

[2016-05-09 22:46] jmuk commented on #2
cc: @tbetbetbe @geigerj

[2016-05-16 21:16] jmuk opened #8 "Update construct_settings to support overriding from JSON"
Based on the discussion in https://github.com/googleapis/gax-python/issues/95, we are going to accept a parameter `config_overrides` to construct_settings, and retire `retrying_overrides` and `bundling_overrides`.

`config_overrides` is in the same structure as `client_config` is, and expected to be supplied from the API users to override the config. Typically, I expect that users will copy the de

[2016-05-20 00:12] #8 closed

[2016-05-20 00:13] jmuk opened #10 "Simplify generated API method implementations"
Same as https://github.com/googleapis/gax-python/issues/104

[2016-06-07 21:28] jmuk commented on #2
seems fixed already

[2016-06-07 21:28] #2 closed

[2016-06-10 21:50] #10 closed

[2016-06-22 18:36] jmuk opened #20 "normal APIs should return an event emitter"
Right now, normal API returns nothing -- the API invocation will be notified through the callback.

To support the cancellation and keep the consistent behavior with page-streaming, they should return an event emitter -- which should implement 'cancel' method, and emits the response on 'data' event.

[2016-06-23 20:54] jmuk opened #21 "Allow accepting callback argument for page-streaming method"
Maybe this might be good to support callbacks, which will be invoked upon each element.

[2016-06-24 22:13] jmuk opened #22 "Design and implement bundling"

[2016-06-30 23:29] #20 closed

[2016-07-01 21:45] #21 closed

[2016-07-11 21:13] #22 closed

[2016-08-10 00:47] jmuk opened #31 "Allow other types of authentication"
Right now GAX uses 'getApplicationDefault' function of google-auth-library, it might not be so obvious how to specify a customized authentication method, and might not be so consistent with configurations with gcloud-node.

GAX should allow customizing the authentication function itself.

[2016-08-10 01:35] stephenplusplus commented on #31
In case this is helpful, I wrote a wrapper around google-auth-library called [google-auto-auth](https://github.com/stephenplusplus/google-auto-auth). We use it in gcloud-node to simplify getting an auth client from google-auth-library. The gRPC library will accept any auth type-- default credentials or JWT via a provided JSON, p12, or pem file.

`getAuthClient` is a method exposed from `google-aut

[2016-08-10 20:28] jmuk commented on #31
Okay, I quickly took a look at https://github.com/stephenplusplus/google-auto-auth and probably GAX should also use it -- simply invoking `getAuthClient` and accept the same parameters. Thank you for the info.

Cc: @tbetbetbe

[2016-08-16 01:42] jmuk opened #33 "test "Executor timer reschedules after timer" is flaky"
Example: https://travis-ci.org/googleapis/gax-nodejs/jobs/152549131

[code]

This test may miss some number because it uses the actual timer?

[2016-08-30 22:22] LivesleyWA opened #34 "EventEmitter2 Module Causing Issues with Typescript"
The EventEmitter2 package contains a Typescript definition file which causes compilation failure when using the current version of Typescript.

A fix was pushed in #2.0.2

Can the package.json reference be updated?

[2016-09-02 22:50] jmuk opened #35 "Reconsider the interface to suppress page-streaming for an invocation"
Right now, the paged responses will be unrolled into a single stream (i.e. page-streaming), but we allow to suppress this by specifying `page_token` into the call options (for the first page, specify `FIRST_PAGE` object).

The sample usage would be:
[code]

Some random ideas:
- probably better to avoid creating gax.CallOptions instance. Instead, simply passing an object would be better.
   - the c

[2016-09-03 02:17] stephenplusplus commented on #35
👍 Manual pagination might be important to some. `google-cloud-node` goes one step further and allows setting a `maxApiCalls` property on any method that is paginated. That way, a cost-conscious user can have the best of both worlds-- autopagination up until a specified threshold.

This is pretty common in JS in the case of streams / callback. If a callback isn't the last argument to the function,

[2016-09-08 23:47] jmuk commented on #35
Hey @stephenplusplus, I've been working with this. Currently, the change will look like this https://github.com/GoogleCloudPlatform/google-cloud-node/compare/master...jmuk:update_pubsub

with some changes on GAX side. I chose `flattenPages` instead of `autoPaginate` which is consistent with others, but basically it will be
[code]

Does this look good?  If so I'm gonna make a series of PRs.

[2016-09-08 23:54] stephenplusplus commented on #35
Looks good! With `flattenPages: false`, what does the flow look like for a user to request the next page of results?

[2016-09-09 03:55] jmuk commented on #35
Aah, I've missed the `nextQuery` pattern in your example, it's not there yet.

Because these files flatten parameters and the options will accept `pageToken` parameters (regardless the actual field name for the token), probably it would supply the next page token as the third parameter.
[code]

[2016-09-09 16:00] stephenplusplus commented on #35
That will work!

[2016-09-15 20:23] stephenplusplus opened #38 "Allow setting `maxRetries` for exponential backoff retry strategy"
In `google-cloud`, we allow a user to set how many retries they wish to allow per the exponential backoff retry process. Sorry if this is already available as an option, but if not, is it possible to implement here?

[2016-09-24 00:21] #35 closed

[2016-09-26 20:34] jmuk opened #39 "Let ApiCallables return Promise directly"
Right now ApiCallables return EventEmitter, which has the ability to cancel ongoing API calls and has custom `result` field which is a promise to the API call result.

Instead of this, we prefer to return a promise itself, because most users care about the result, cancelation is optional. The returned promise should have a reference to the event emitter or canceling method itself, so we don't lose

[2016-09-26 20:44] stephenplusplus commented on #39
Possibly worth mentioning is something @callmehiphop [saw that might be an issue](https://github.com/jmdobry/gcloud-node/pull/6#issuecomment-249211719):

[code]

The decorated promise with the `request` object would be unavailable if the user didn't first cache the object before chaining. There is a fear this would confuse users.

[2016-09-26 21:36] #34 closed

[2016-09-26 23:13] stephenplusplus opened #41 "Update to grpc@1.0"
This should help installation times in `google-cloud`.

[2016-09-27 00:04] jmdobry opened #43 "Need to default convertFieldsToCamelCase to true"
or at least provide a way for it to be configured when building a client. Right now it's basically hard-coded `false` with no way to change it.

See https://github.com/GoogleCloudPlatform/google-cloud-node/pull/1631#issue-179360916 for context.

Here is what needs fixing: https://github.com/googleapis/gax-nodejs/blob/master/lib/grpc.js#L92

[2016-09-27 03:17] jmdobry commented on #39
The documentation will just have to be really clear.

[2016-09-27 23:36] #41 closed

[2016-09-28 00:01] #43 closed

[2016-09-28 20:24] stephenplusplus opened #46 "Custom Endpoints"
Is it possible to set a custom endpoint, for example, if trying to access an emulator?

[2016-09-28 20:26] stephenplusplus opened #47 "User Agent"
Is it possible to set a user agent? In google-cloud, we follow a specific format, but with requests going through gax, I think I'll need to set a new config option. We'd been doing it like this:

[code]

[2016-09-28 21:30] jmuk commented on #46
The generated builder function has an optional field for server address, port, and grpc credentials (see https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/pubsub/src/v1/publisher_api.js#L79). So,
[code]

It'll connect to a different end point.

[2016-09-28 21:37] jmuk commented on #47
I think I've decided to leave the user agent string as-is for some reasons, and instead using `x-goog-api-client` custom header for additional info. Cc @omaray for the confirmation.

The `x-goog-api-client` has custom `{{appName}}/{{appVersion}}` section and you can specify through the builder function like:
[code]

[2016-09-28 22:11] stephenplusplus commented on #46
Looks perfect, sorry that I missed that. Thanks!

[2016-09-28 22:11] #46 closed

[2016-09-28 22:19] stephenplusplus commented on #38
cc @jmuk

[2016-09-28 22:39] stephenplusplus commented on #38
I think we might be seeing some of the effects of not having this set in our CI tests:

https://travis-ci.org/GoogleCloudPlatform/google-cloud-node/jobs/163469646#L6913

[2016-09-28 23:29] jmuk commented on #38
Right now the options accept retry parameters, which specifies the retry timeout / timeout multiplier / max timeout / etc., and the maximum number of retries is implicitly calculated from that.

Having maxRetry optional parameters would be probably fine, that would cap the number of retries. @geigerj, @bjwatson, are there any similar requests or suggestions on Python?

[2016-09-28 23:42] geigerj commented on #38
@jmuk AFAIK no similar requests for Python. Given that there are already 7 configuration parameters for retrying, it seems to me that there should be a reasonably high bar to adding additional knobs.

If a user wants to guarantee _at least_ `n` retries on a failing call, they can already configure that by setting `total_timeout=(n+1) * initial_rpc_timeout` and `max_retry_delay_millis=0`. But there

[2016-09-29 07:58] omaray commented on #47
/cc @bjwatson

Hey, yes we are using the x-goog-api-client and we need a better overall design. It's on my and Brian to come up with something. Stay tuned.

[2016-09-29 14:13] stephenplusplus commented on #38
If we're concerned about making the library more approachable (cc @jmdobry), the easiest path for a user is to assume an exponential backoff retry strategy is configured by default, and the only toggle they need is how many times to retry. Setting `maxRetries: 0` is equivalent to disabling them, and any other value should be all the majority of users need.

In addition to `maxRetries`, I imagine t

[2016-09-29 14:22] stephenplusplus opened #48 "Objects over multiple parameters"
Another JS pattern favors accepting a configuration option from a user as opposed to multiple parameters, eg:

[code]

The problems with the multiple parameters:

  - Remembering the order of arguments
  - Length of method call lines quickly exceed the common guideline 80 character rule
  - Conditionally compiling arguments involves creating a temp `null` variable (demo'd below)

[code]

Would it

[2016-09-30 04:43] jmuk commented on #48
Okay, sounds reasonable. @landrito -- can you do that?

This current behavior -- we call it parameter flattening -- would be useful and important on other languages, because they will have to create an instance of certain class -- and I just ported the same thing into Node.JS -- but it seems like that's not the case here.

[2016-10-03 20:26] jmuk commented on #38
cc: @bjwatson

[2016-10-03 20:32] jmuk commented on #48
cc: @bjwatson

[2016-10-03 20:49] landrito commented on #48
I'll look into this this week.

[2016-10-03 21:26] landrito commented on #48
This might add some tedious overhead for request objects with a single message. eg:

[code]

@stephenplusplus thoughts?

[2016-10-03 21:32] stephenplusplus commented on #48
Yes, that is definitely true. In google-cloud, we commonly take a name first, then options for anything else. But without this lib being hand-written, I think the bias needs to be towards an object no matter it's simplicity or complexity for the sake of consistency. I would pay that price for the benefits listed above.

[2016-10-03 22:40] landrito commented on #48
Makes sense. I'll get on implementing this soon!

[2016-10-10 20:57] jmuk commented on #39
Created PRs. This is basically doing as written. For cancellation,
[code]

[2016-10-10 21:32] jmuk commented on #38
Let me confirm the details of the behaviors before start implementing.

- `maxRetries` will be recognized as an optional parameter when a method is invoked.
   - i.e. *not* a part of configuration data (like https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/pubsub/src/v1/publisher_client_config.json)
- The retrying will be conducted through the exponential backoff. `max

[2016-10-10 21:41] stephenplusplus commented on #38
Yes on all of them, though on the first point, why not in the configuration data?

[2016-10-10 21:59] jmuk commented on #38
I'm thinking that this is for "compatibility" -- google-cloud-node has that parameter already and we don't want to loose it; but default values in the config data isn't a part of the current behavior, and I don't think we'll have to add that.

Another reason why I'm hesitant to modify the config data is that it's common among other languages like Python, Ruby, PHP, and so on. Changing it would inv

[2016-10-10 22:03] jmuk commented on #38
However, the following behavior would be feasible and easy to do -- extract max-retries data if the custom config data (created by users) have it, although the default config json does not contain such value.

[2016-10-10 23:25] jmuk commented on #48
Hmm, there turns out a concern about the hack @landrito mentioned. If we do like
[code]

Even a tiny change on proto file --  like adding an optional field -- would cause an incompatibility. I'm now inclined to be always
[code]
even though `name` is the only possible property to that method. This would be good for the consistency among methods.

Also, it seems NodeJS v4.2.3 already supports the ne

[2016-10-11 16:34] stephenplusplus commented on #48
Yeah, I'm in favor of always using an object for consistency. 👍

[2016-10-11 16:36] stephenplusplus commented on #38
Okay, whatever makes sense for this library. Thanks for supporting maxRetries!

[2016-10-11 18:19] bjwatson commented on #38
@stephenplusplus Before we implement `maxRetries` in the GAPIC code, I just want to make sure I understand the motivation. Is there something specific about NodeJS that requires these semantics, or is this something that you think all languages would benefit from? What is the value to clients that you see relative to what we already offer for retry parameters in the GAPIC layer?

I see three possi

[2016-10-11 18:21] stephenplusplus commented on #38
I believe this should be for all libraries, because setting one option rather than several is much easier. Google API docs recommend using an exponential retry strategy, so I don't think the user should be forced to specify the numbers themselves, it should *just work*. I tried to explain this in my earlier post: https://github.com/googleapis/gax-nodejs/issues/38#issuecomment-250477811

[2016-10-11 18:29] geigerj commented on #38
Hm... Users already have a single option that they can use to configure the
retrying strategy: the total timeout. All the options for the exponential
backoff strategy are preconfigured. I wonder if we can just document it
better so that users know that if you're going to turn just a single knob,
turn the total timeout knob.

That said, if it makes sense to support maxRetries in NodeJS, I don't see

[2016-10-11 18:30] bjwatson commented on #38
Thanks @stephenplusplus and @geigerj. I added this to the agenda for our GAPIC team meeting this afternoon.

[2016-10-11 23:15] #48 closed

[2016-10-12 01:30] bjwatson commented on #38
@stephenplusplus We discussed this at our team meeting (and @omaray was present). The GAPIC team is resistant to adding a new retry parameter across all languages, and we don't think it makes sense to have it for just one language unless there's a good reason.

Many months ago (before I joined), the GAPIC team discussed whether to do max retry _count_ or max retry _time_, and decided that the latt

[2016-10-12 01:35] jmuk opened #51 "Support longrunning operations"
Some methods in Google APIs are in a pattern of longrunning operations (LRO). In this pattern, the proto defines to return a `google.longrunning.Operation` object, and Operations service takes care of the status of operations (see https://github.com/googleapis/googleapis/blob/master/google/longrunning/operations.proto).

Within the current code base, the code generator for NodeJS will generate a m

[2016-10-12 13:34] stephenplusplus commented on #38
Thanks for the update. I'm fine with whatever this library chooses to do for its users, I just need a way to let google-cloud-node's users continue to use `maxRetries`. I don't want to expose all of the fine-grained options this library allows, because that goes against `google-cloud-node`'s purpose, which is using smart defaults, and allowing simple controls. Is it possible to see in JS code how

[2016-10-12 18:08] jmdobry commented on #38
Wouldn't you need to guess the average expected latency for a try and then do some math to calculate `totalTimeoutMillis`? e.g.

[code]

[2016-10-12 20:36] bjwatson commented on #38
@stephenplusplus IIUC, you are committed to keeping `maxRetries` in the `google-cloud-node` code, even though it's pre-beta? Are clients already using it in their code?

What semantics do you want for `maxRetries`? Do you want an absolute guarantee that the retry count will not exceed it (and will likely be much less than the retry count before timing out), or do you want the retry count to approx

[2016-10-12 22:00] stephenplusplus commented on #38
While I don't have visibility into the options users are setting, I have recommended users set `maxRetries` on many occasions. To address a comment in your earlier response about not seeing a good reason for `maxRetries`, the reason I want to keep supporting it is because of how easy it is to advise that setting to a user who is experiencing API failures.

As an example, in [this issue](https://gi

[2016-10-12 23:22] callmehiphop commented on #39
@jmuk when a promise is cancelled, does it get sent it into the `catch` block?

[2016-10-13 20:15] #39 closed

[2016-10-14 13:20] stephenplusplus commented on #39
@jmuk ^^

[2016-10-14 17:40] jmuk commented on #39
Ah, yes, right. When a promise is cancelled, the promise will be rejected. Therefore `catch` will be invoked.

[2016-10-14 23:41] jmuk opened #54 "Manual edits on operations_api.js"
`lib/operations_api.js` is automatically generated file from our own toolkit, however, it needs some hand-edits to fit into the GAX library itself.

This issue tracks the list of hand-edits in case we want to regenerate everything, and also eventually we may need some quick scripts to automate the edits.
- `require('google-gax')` does not work

[code]
- `require('gax-google-longrunning')` in the e

[2016-10-19 17:40] jmuk opened #56 "stop using errors.cause, simply return the error itself"
Based on https://github.com/GoogleCloudPlatform/google-cloud-node/pull/1721#issuecomment-254865502:

There might not be a clear benefit of using 'Error' with `cause` property in NodeJS. This design originally came by respecting the design of gax-python, and that's good for Python because it fits with try...catch pattern.

gax-nodejs doesn't expect try...catch pattern at all, and we always use bare

[2016-10-19 18:31] #56 closed

[2016-10-21 20:41] jmuk opened #59 "Redesign constructSettings, callSettings, and createApiCall"
From https://github.com/googleapis/toolkit/pull/650#discussion_r84390040:

I actually agree with @landrito, I first attempted to do that, but then switched back to adding an extra argument for backward compatibility -- the older codegen can work with the newer gax. But now I'm feeling I should redesign the structure of the arguments.

Here is the sketch of the new design.
- remove descriptors (`pa

[2016-10-26 00:45] bjwatson commented on #59
@jmuk @landrito Does this affect the GAPIC surfaces? Does it need to be implemented pre-beta?

[2016-10-26 00:49] jmuk commented on #59
No, this is internal refactoring. It changes the interface between GAPIC and GAX, but does not affect the GAPIC surface.

However, to have consistent GAX installation among multiple APIs, it would be nicer to regenerate the API code too. I believe the new design is more extensible and requires less regeneration in the future.

[2016-10-26 01:37] bjwatson commented on #59
Do you think it's worthwhile to do this in the next three weeks?

[2016-10-26 02:39] jmuk commented on #59
I think so. This happened along with gRPC streaming support -- we could add that without this redesign, but this could reduce some technical dept, and probably it's a good thing to do things like this before it goes into beta.

[2016-10-26 15:35] bjwatson commented on #59
Ok, I added it to our tracking sheet for getting to beta.

[2016-10-28 20:20] jmuk opened #60 "Refine "page-streaming" interface yet again"
We got some internal feedback about the return value for page-streaming. Current thing (an object Stream) would not be quite intuitive nor easy-to-use for many NodeJS programmers.

Here are suggestions:
### Returns a promise which resolves to an Array of results

[code]
### The promise will resolve to a response object when 'autoPaginate' is specified to false

This means we are going to rename `f

[2016-10-28 20:22] jmuk commented on #60
cc: @jmdobry, @landrito, @bjwatson, @stephenplusplus, @callmehiphop

[2016-10-28 20:36] callmehiphop commented on #60
Overall this LGTM, this is pretty much how we handle pagination in google-cloud-node. My only comments are around streaming with autoPaginate: false. I don't think it's a good idea to change the data being passed back based on an option. Instead maybe we should create a separate event so users can grab the `nextPageToken`

[code]

[2016-10-28 20:41] jmuk commented on #60
Note: there might be some concern for building an Array for entire list of elements. It consumes some amount of memory, it won't finish until the API call reaches to the end, etc.

Here are related things in JS which I reviewed but I concluded not fitting into this use cases.

#### iterables and generators

ES6 generators are not yet in NodeJS 0.12 which we are supporting. Also, their APIs are syn

[2016-10-28 20:54] jmuk commented on #60
@callmehiphop

Thanks for replying so quickly!

Actually @jmdobry told me about "Stream with autoPaginate: false" pattern as for what is currently in google-cloud-node. I want to know what's in google-cloud-node right now.

I personally don't like the idea of adding another 'response' event for this purpose. 'data' event is good because it's documented in the standard documentation https://nodejs.

[2016-10-28 21:00] callmehiphop commented on #60
I'm not super familiar with RxJS but it looks like the `fromEvent` works with `EventEmitter` like objects. I'm guessing something like this could work?

[code]

IIRC when in stream mode we force `autoPaginate` to true. Instead we tell users to call `this.end()` if they want to end the stream early.

[2016-10-28 21:02] jmuk commented on #60
@callmehiphop

Yeah, I think so.

For streaming, I'll wait for @jmdobry's reply, but what you wrote looks good to me.

[2016-10-29 03:01] jmdobry commented on #60
On RxJS, yeah using `fromEvent` is good.

On `autoPaginate` and streaming:

SGTM, though I'd think `pageSize` would be configurable. And, the value passed to the `data` event handler should be the same type/structure regardless of options passed to the streaming method.

[2016-10-31 17:48] #59 closed

[2016-10-31 19:37] callmehiphop commented on #60
My mistake, that is totally configurable. By default we `autoPaginate` and if the user does not specify the `pageSize` or `maxResults` we make requests until we run out of results. Where as with `pageSize`/`maxResults` set we stop making requests once that number has been fulfilled.

[2016-11-02 21:03] jmuk commented on #60
Two PRs are created, please take a look if you're interested in the implementation details. The API surface respects the conclusion here.

I'll regenerate files after those PRs are merged.

[2016-11-02 23:38] bjwatson commented on #60
My main comment is to only use "stream" for gRPC streaming. I think other language teams are calling this "paged iteration" (cc @garrettjonesgoogle, @michaelbausor, @pongad).

[2016-11-02 23:52] jmuk commented on #60
The -Stream suffix is used because it returns a "Stream" which is builtin to the NodeJS runtime. I think other suffix won't make much sense here.
Otherwise, the term word 'stream' is not used.

I've updated the comment for -Stream suffixed methods.

[2016-11-03 00:04] bjwatson commented on #60
I see. Are you talking about [this mechanism](https://nodejs.org/api/stream.html#stream_stream)? Are you also using this to support gRPC streaming?

[2016-11-03 00:12] jmuk commented on #60
Right, that's that.

And yes, NodeJS gRPC-streaming uses this Stream class, therefore vkit methods share the same returned type.
I hope this is less surprising to users, assuming people understand such "gRPC-streaming" happens asynchronously and have multiple returned objects. We may probably need to revise the doc comment about asynchronousness of those methods.

[2016-11-03 00:17] bjwatson commented on #60
In a sense, the "paged iteration" is also asynchronous, since it might need to go fetch another page from the server. The main difference is how long reads might block.

Another difference is that gRPC also supports streamed writing (for client-side or bidi).

[2016-11-03 18:14] #38 closed

[2016-11-07 21:27] jmuk opened #65 "error code handling and conversion"
Right now GAX returns the error which gRPC returns. It has error message and grpc error code.

`@google-cloud/common` package has the logic to map the error code to HTTP status code to handle the failures more universally -- we want to port it to GAX layer as well.

[2016-11-07 21:28] jmuk commented on #65
cc: @bjwatson @jmdobry @stephenplusplus @callmehiphop

[2016-11-07 21:29] stephenplusplus commented on #65
For reference:

- The map: https://github.com/GoogleCloudPlatform/google-cloud-node/blob/525fb0fc1a7ad064b75050bfc03455508cf0dba5/packages/common/src/grpc-service.js#L50
- The decoration method: https://github.com/GoogleCloudPlatform/google-cloud-node/blob/525fb0fc1a7ad064b75050bfc03455508cf0dba5/packages/common/src/grpc-service.js#L564

[2016-11-08 00:54] bjwatson commented on #65
We'll probably want to add this as a utility method, an optional flag, or some other additive approach. If we automatically map the errors, then that would be a breaking change that we need to do right now, and we probably don't want to block beta on that.

[2016-11-08 04:05] jmdobry commented on #65
google-cloud-node already does this automatically for all of its grpc (not gapic) code. So switching grpc code to use gapic code (that lacks automatic error decoration under the hood) would be a breaking change. Only Speech and Language already use gapic under the hood, so they don't have the automatic error decoration at all.

So:

1. Add automatic error decoration to gax-nodejs now: break Speech

[2016-11-08 21:25] jmuk opened #67 "gax loses 'metadata' and 'status' events which gRPC streaming supports"

[2016-11-09 01:44] #67 closed

[2016-11-09 02:01] bjwatson commented on #65
@stephenplusplus Is there a test case or some example of the before and after? I'd like to see what the response looks like with and without the decoration. Thanks.

[2016-11-09 05:52] stephenplusplus commented on #65
The input is a `google.rpc.Status` message: https://github.com/googleapis/googleapis/blob/472c8f4baa6e420fe4ce148b2d5a424bacbd1a94/google/rpc/status.proto#L80:

[code]

We store a map of [`Status.code`s](https://github.com/googleapis/googleapis/blob/472c8f4baa6e420fe4ce148b2d5a424bacbd1a94/google/rpc/code.proto) to HTTP error codes and messages and do a simple lookup:

[code]

[code]

`message.des

[2016-11-09 16:46] bjwatson commented on #65
Hmm... this is a breaking change to the response. I see the value for users, but it alters the meaning of the Status fields. I want to run it by the GAPIC team to get some more perspective from the other languages.

Thanks for surfacing this.

[2016-11-09 16:49] jmdobry commented on #65
Can we make the decoration additive for gax and breaking for google-cloud-node? Maybe leave `code` alone and add `httpCode`?

[2016-11-09 19:15] bjwatson commented on #65
I was thinking the same thing. It looks like we might need to do the same for the `message` field, unless the google-cloud-node logic is to only fill in the `message` field if it doesn't exist in the response.

[2016-11-09 19:19] stephenplusplus commented on #65
Yep, a message on the response takes precedence.

[2016-11-09 20:50] bjwatson commented on #65
Ok, thanks. Are we declaring beta on Speech and Language a little later than we are for the first five? If so, maybe we can wait a bit on fixing this issue in GAPIC.

[2016-11-09 20:52] stephenplusplus commented on #65
Yes, as far as I know, only the big 5 are on the way to beta.

[2016-11-09 21:02] bjwatson commented on #65
Awesome. Sounds like we can wait a bit unless we need to move Pub/Sub or Logging onto GAPIC in the near future.

[2016-11-16 02:30] jmuk opened #69 "Stop unhandled promise rejection when callback is specified"
When the callback is provided and something went wrong on the API, the errors should be provided to the callback, and that should not cause promise rejection (because the callback is called as a part of Promise -- see https://github.com/googleapis/gax-nodejs/blob/master/lib/api_callable.js#L74).

It's also better to clarify their relationship probably. Currently when an error is thrown in the call

[2016-11-16 02:31] jmuk commented on #69
@landrito -- please look into this.

[2016-11-16 23:06] #60 closed

[2016-11-21 14:47] stephenplusplus opened #71 "google-cloud-node idioms, for consideration"
*Originally brought up: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1801#issuecomment-261092666*

google-cloud-node (GCN) has some conventions which ideally could be used here. It would be great to achieve a common UX that can be re-used by a developer when hopping between APIs.

#### Resource hierarchy

The GCN library layers its classes so that if you need a GCS "Object", for

[2016-11-21 17:06] jgeewax commented on #71
👍

[2016-11-21 17:45] callmehiphop commented on #71
In addition to everything @stephenplusplus mentioned, there are a few differences between the gapic layer and GCN.

* LRO - AFAIK the gapic implementation requires the user to manually poll an endpoint to see if the Operation has completed. In GCN we expose an EventEmitter and perform the polling for the user. This allows them to simply tap into either `complete`/`error` events or a Promise resolu

[2016-11-21 17:50] jmdobry commented on #71
I think this is being addressed in #64

[2016-11-21 18:49] stephenplusplus commented on #71
@callmehiphop does this work for the Emulator support point: https://github.com/googleapis/gax-nodejs/issues/46?

[2016-11-21 18:57] jmuk commented on #71
Basically, we made the design decision that the gapic layers to be close to gRPC definitions (i.e. the same method names + protobuf messages directly). @omaray and @anthmgoogle for the confirmation. cc @bjwatson too.

Because of this, naming changes or restructuring the data structure might conflict with the design policy unfortunately -- and that would require lots of changes on our code generato

[2016-11-21 18:58] jmuk opened #72 "Allow other implementations of Promise"
Currently it uses the builtin Promise as-is, it is not configurable at all, but sometimes users may prefer others like Bluebird. It would be great if it's configurable. (see also: #71)

[2016-11-21 19:01] jmuk commented on #71
You're right, it's not possible to use other implementations of promises. Filed #72.

I don't remember why that's only them. @geigerj might remember why those error codes are chosen (I vaguely remember some documentations for which codes should be retryable, but I've lost it).

It is also discussed internally, allow customizing the emulator endpoints as some environment variable IIRC. I haven't he

[2016-11-21 19:28] callmehiphop commented on #71
I think it could! Here's how we currently do emulator support

[code]

I believe the gapic equivalent would be something like

[code]

[2016-11-22 19:25] jmuk commented on #51
It seems that what I'm thinking was quite different from what google-cloud-node is doing, and we need to change the design a bit.  I'd like to invite @jmdobry @stephenplusplus @callmehiphop @landrito for the discussion.

Current GCN design
===============

Returns an operation object asynchronously, which implements some features.

[code]

What I was thinking
==============

Returns a promise with

[2016-11-22 19:26] jmdobry commented on #51
This is how google-cloud-node handles Long Running Operations (a solution we settled on after much discussion). We believe this is the simplest solution that gives the user the greatest control over their handling of Long Running Operations:

[code]

[code]

[code]

[code]

The `Operation` class provides a number of methods for interacting with the LRO.

We have two implementations of `Operation`

[2016-11-22 20:04] stephenplusplus commented on #51
@jmdobry just a heads up that `Operation` has been refactored and is now a base class that GrpcOperation extends. You should be able to [invoke](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/speech/src/index.js#L531) or `util.inherits` either from the new Functions class.

[2016-11-23 00:48] jmuk commented on #51
We chatted internally, and probably it's better to follow what GCN is doing. I liked the "option 2" above, but it turned out not so great.

I still have a few questions about some details.

== handling of metadata

Operation.metadata is `google.protobuf.Any` and I don't see any parsing its result on `grpc-operation.js` or `speech/src/index.js` file. Should we supply the decoding on somewhere?

==

[2016-11-23 00:52] jmuk commented on #51
Another idea is to modifying the `response` itself, because anyways `Any` iself is not quite useful in any cases. This is something like
[code]

[2016-11-23 00:55] jmuk commented on #51
Exponential backoff for polling
----

We actually introduced exponential backoff for the automatic polling, instead of static polling in GCN is doing. We are thinking to allow customization for that, that would come as `longrunning` optional parameter like:
[code]

Does this look okay?

[2016-11-23 01:20] landrito commented on #51
`Operation#getMetadata` is makes an api request, correct? If instead of making an api request it returned the last polled metadata it would reduce total number of api requests.

ie:
[code]

[2016-11-23 01:30] jmuk commented on #51
minor correction:

I meant we introduce that on other languages already (i.e. Java, Python, Ruby, etc)

[2016-11-23 01:31] garrettjonesgoogle commented on #51
Java doesn't have it yet :-P https://github.com/googleapis/gax-java/issues/146

[2016-11-23 01:35] jmuk commented on #51
Regarding the polled metadata, I'm feeling like that would be done by the event emitters.
Like, by adding `'response'` event which is invoked on every polling.

[code]

[2016-11-23 01:35] jmuk commented on #51
@garrettjonesgoogle oh, okay.

[2016-11-27 19:52] jmuk opened #73 "Remove callback arguments from api callables"
Our internal feedback pointed out that allowing both callback and promise looks confusing, and they prefer Promises (honestly, I do too).

GCN (google-cloud-node) has both because originally GCN supported callbacks and then introduced Promises recently, but that does not justify the GAPIC autogen layer.

Can we simply remove callbacks from GAPIC for now?

Cc: @jmdobry @stephenplusplus @callmehipho

[2016-11-27 20:43] stephenplusplus commented on #73
Related (year old) discussion on keeping/ditching callbacks: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/551#issuecomment-153175390

[2016-11-28 15:44] stephenplusplus commented on #51
How about a `progress` event during an automatically-triggered poll, before the operation has finished (for GCN, we'd put that [here](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/6395a4c405b99a31d3984ae6dd270466027f70d7/packages/common/src/operation.js#L159)). We would probably want some logic to not emit a `progress` event if the object hasn't changed since the last time.

[code]

[2016-11-28 21:19] jmuk opened #74 "Do not use Promise when callback is supplied"

[2016-11-28 21:39] jmuk opened #75 "request for comments: gRPC-streaming API surfaces"
gRPC streaming support has been done in GAPIC layer for nodejs, and it's in Speech API (as `streamingRecognize` method), but I'd like to know if there're some things to be polished for language-idiomaticity.

Note that this is for autogen layers, so API-specific conversions might not be possible (for example, separating audio config and audio data is very specific to `streamingRecognize` method, I

[2016-11-28 21:58] stephenplusplus commented on #75
Thanks for writing this up. It all looks good, but I have a question on the last example:

[code]

The callback here is confusing to me. Working with streams, I expect to keep my event handling connected to the stream's event emitter. Can this instead emit `error` and `response` events in place of the final callback?

[code]

[2016-11-29 14:38] jmuk opened #76 "Do not return Promise when callback is supplied"
ApiCallable returns a Promise always, but that's probably not great. When callback is specified, do not return Promise itself, just pass everything to the callback and returns nothing (i.e. `undefined`).

[2016-11-29 18:57] stephenplusplus opened #77 "Unboxing error objects"
*Sorry if I already wrote an issue about this somewhere... I can't find it*

This is how an error looks currently (borrowed from [here](https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1811)):

[code]

The error itself is buried a layer deep, under `error.cause`:

[code]

That is the error that will help the user debug the most, so I think it should get promoted to being *the* error

[2016-11-29 19:24] jmuk commented on #77
With https://github.com/googleapis/gax-nodejs/commit/84036bafef320e677c5ab87c8c955c95bb6719d3, this structure has been changed.

Now it just exposes the original error -- and the message from gax side (like 'retry method that was not classified as transient') is added as `note` property.
This noting might be still misleading, in that case I think I can remove it entirely.

[2016-11-29 21:20] jmuk opened #78 "Remove `bind`, use closure, if possible"
I got internal feedback saying that `bind` is really slow when version < 7, that would justify replacing `bind` by closures. `bind` might be justified when it's much clearer and not used so repeatedly.

[2016-11-30 06:13] jmuk commented on #76
duped.

[2016-11-30 06:13] #76 closed

[2016-11-30 19:09] landrito commented on #78
Interesting! Do you know what causes it being slow in versions <7?

[2016-11-30 19:17] jmuk commented on #78
I didn't look into the details but found http://stackoverflow.com/questions/17638305/why-is-bind-slower-than-a-closure

[2016-11-30 20:13] #74 closed

[2016-11-30 20:13] #69 closed

[2016-11-30 20:14] stephenplusplus commented on #77
Oh, nice. I don't mind the `note`. Sorry for the out of date issue!

[2016-11-30 20:14] #77 closed

[2016-11-30 22:06] landrito commented on #51
+1 on the `'progress'` event.

Comments about `getMetadata` make sense. One thing about `getMetadata` though, I find the method name `getMetadata` to be a bit confusing since in [grpc-operation](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/6395a4c405b99a31d3984ae6dd270466027f70d7/packages/common/src/grpc-operation.js#L86) it is returning a `google.longrunning.Operation` message wh

[2016-12-01 17:38] jmdobry commented on #73
Allowing both callbacks and promises is a very well known approach in Node.js libraries, and allows our library to appeal to the preferences of as many developers as possible. If you want to recommend one approach over the other, I would do that in the documentation, e.g. all of the examples use promises. Then, have a single doc page elsewhere that explains how to use the alternate approach.

[2016-12-06 22:14] landrito opened #83 "Expose a method to create an Operation."
### What
Having a way to create an gax.Operation object from an operation name would help the google-cloud-node guys move forward in eliminating their grpcOperation object.

[2016-12-13 18:42] jmuk commented on #78
Ah, wait, this is not closed yet fully -- we want to modify toolkit for the generated files (there's a pattern of `stub[methodName].bind(stub)`).

[2016-12-13 18:56] landrito commented on #78
Woops! Automatically closed on accident! I'm working on that toolkit fix right now. Expect it soon!

[2016-12-13 21:48] #78 closed

[2016-12-14 23:32] jmuk opened #89 "Evaluate dorusu-js for a substitute for grpc"
`dorusu` is a gRPC implementation written purely in JS: https://github.com/google/dorusu-js

As a quick look, the interface is different from the grpc library, it may need some rewrites on the code base. We want to explore the possibility to substitute our current usage of grpc, and evaluate the performance and the size of the changes to support it.

It is unclear the direction -- this issue simpl

[2016-12-14 23:33] jmuk commented on #89
also @bjwatson @landrito FYI

[2016-12-17 22:03] jmdobry commented on #83
Need this for GoogleCloudPlatform/google-cloud-node#1688

[2016-12-17 23:35] jmdobry opened #94 "LRO: Operation metadata should be unpacked regardless of the state of the operation"
`Operation#metadata` is only being unpacked (decoded) when `Operation#done === true`. This results in `operation.currentOperation.metadata.value` being a `Buffer` when it should be decoded.

[2016-12-19 03:58] landrito commented on #83
I'll work on this when I get in tomorrow morning.

[2016-12-20 18:15] jmdobry commented on #83
Thanks for doing this, but after trying to use it, I don't think it's something that our users would want or even be able to use yet. The user would have to construct their own longrunning descriptor (knowing in advance what they're going to use the operation for, and knowing which protos to use, etc.). In order to do that, they'd have to construct their own operations client. As it is, I don't se

[2016-12-20 18:21] jmdobry commented on #83
Assuming

[code]

becomes possible, google-cloud-node could implement something like this:

[code]

then the user can simply do the following:

[code]

which is quite usable.

[2016-12-20 18:38] stephenplusplus commented on #83
Any chance the operation name has any clue as to what type of operation it is? Just trying to avoid the `type` argument.

[2016-12-20 19:20] jmdobry commented on #83
Operations names are just `operations/1234abcd5678efgh`. The IDs are opaque to the user. I don't even know if they mean anything on the server. Probably just generated IDs.

[2016-12-20 22:46] landrito commented on #94
When I originally thought of using current operation I never intended it being used for this purpose. It was simply for keeping track of responses. With that in mind I want to change the name of it from `operation#currentOperation` to `operation#latestResponse`. To help with the use case of using the most recent unpacked metadata and result, I will add a `operation#metadata` field and a `operation

[2016-12-21 19:38] jmuk opened #97 "LRO: getOperation should return a promise when callback is not specified"
It seems like `getOperation` always assumes a callback parameter. To be consistent with normal method, possibly it's better to return a promise when the callback is not specified.

[2016-12-21 19:42] jmuk opened #98 "client-side streaming: add 'response' event instead of assuming callback"
From: https://github.com/googleapis/gax-nodejs/issues/75

For client-side streaming, currently we simply assumes a callback parameter to receive the final result. This means:
[code]

The recommendation will be to make this callback as the parameter of the stream, thus:
[code]

(Note that this is hypothetical, right now there are no usage of client-side streaming on Google APIs. But I believe some

[2016-12-27 16:43] landrito commented on #94
Reopening to get @jmdobry's opinion on the fix.

[2016-12-28 22:20] jmdobry commented on #94
I believe being able to access the most recently unpacked metadata at `operation.metadata` satisfies my use case.

[2016-12-28 23:26] #94 closed

[2016-12-29 01:02] #97 closed

[2017-01-12 23:27] jmuk commented on #51
it's done.

[2017-01-12 23:27] #51 closed

[2017-01-13 01:40] jmuk commented on #65
Revisiting a bit old bug. So the conclusion seems to be:
- create the mapping data from grpc error code to http status code, in gax library (same in `@google-cloud/common`, see https://github.com/GoogleCloudPlatform/google-cloud-node/blob/525fb0fc1a7ad064b75050bfc03455508cf0dba5/packages/common/src/grpc-service.js#L50)
- keep `code` field in the error, but add `httpCode` to the error, which comes

[2017-02-16 18:13] jmuk opened #107 "Allow specifying optional parameters for gRPC"
Right now GAX only passes the address and the channel credentials to create a new client (see https://github.com/googleapis/gax-nodejs/blob/master/lib/grpc.js#L160). However, gRPC's client constructor accepts the third optional parameter to customize various things (https://github.com/grpc/grpc/blob/master/src/node/src/client.js#L732). GAX should allow accepting the options.

See also https://gith

[2017-02-17 00:37] jmuk opened #109 "Remove 0.12 from Travis"
As https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1855#issuecomment-280412530

Node 0.12 has ended its official support at the end of 2016, and gRPC has stopped its distributions of precompiled binary packages for 0.12. This caused the failures on Travis -- because node tries to compile gRPC and its old C++ compiler fails to deal with some language features there.

Instead of addi

[2017-02-21 21:07] ofrobots opened #112 "README mentions that this library is only testing with Node 4.2.x.."
is this correct? If so, can we fix it. I suspect this we are already testing against Node 6 and 7, and need a simple fix to the README.

[2017-02-21 21:48] #109 closed

[2017-02-22 21:57] #107 closed

[2017-02-23 03:17] jmuk opened #114 "bundling does not work properly on logging"
I'm doing verification of logging API, and noticed a buggy behavior; when the logging client does not specify all of the `descriminator_fields` https://github.com/googleapis/googleapis/blob/master/google/logging/v2/logging_gapic.yaml#L356, it fails to bundle the request, and it rejects to create API calls. Those fields are said optional in the proto file (https://github.com/googleapis/googleapis/b

[2017-02-28 21:19] #114 closed

[2017-03-11 01:09] jmuk opened #119 "Allow skipping auth"
Some API devs want to connect a testing servers which have different auth story; right now gax-nodejs codebase is troublesome for such environment, because it always attempts to obtain the auth token and invokes `combineChannelCredentials`.

[2017-03-13 21:40] jmuk commented on #112
Not correct, should be fixed. We have travis CI of testing on 6 and 7.

[2017-03-13 21:46] jmuk commented on #83
@larndrito what's the status of this issue? Is it already resolved?

[2017-03-13 21:47] jmuk commented on #75
I think it's okay to close this now.

[2017-03-13 21:47] #75 closed

[2017-03-13 21:47] jmuk commented on #73
We decided to keep the callback but support promises too, that decision is not changed.

[2017-03-13 21:47] #73 closed

[2017-03-13 21:48] jmuk commented on #72
I think this is done already. @landrito ?

[2017-03-13 21:52] jmuk commented on #71
(note: we should review the discussion again and create issues for individual improvements and fixes)

[2017-03-13 21:57] jmuk commented on #47
I think this is outdated.

[2017-03-13 21:57] #47 closed

[2017-03-13 22:01] jmuk commented on #31
This issue can be closed now, some other additional auth stories should be filed separately (like #119)

[2017-03-13 22:01] #31 closed

[2017-03-13 23:48] landrito commented on #72
Yep this is done! I am closing.

[2017-03-13 23:48] #72 closed

[2017-03-14 00:47] jmuk commented on #83
oops, typo. @landrito ?

[2017-03-14 06:05] landrito commented on #83
This can be resolved.

Operations can't be created simply by name but also by passing in a longrunning descriptor. We are exposing the longrunning descriptors made in the clients so an operation can be created as such.

ie:
[code]

[2017-03-14 06:05] #83 closed

[2017-03-15 23:20] jmuk opened #121 "avoid unhandled promise rejection on wrongly initialized stub"
Reported as https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2086:

We should avoid unhandled promise rejections. Right now each method holds a promise for the method of the grpc client instance; this should be avoided.

We should:
- catch the error on createStub and throw an error
- or probably we should avoid using promises at all, stub creation and authentication should be delaye

[2017-03-23 21:28] jmuk opened #123 "maxResults for paged iterations, both stream version and non-stream version"
It is probably handy to support `maxResults` optional parameter for the paged iterations to cap the number of elements.

This is useful specifically for NodeJS because paged iteration invokes the method calls to reach to the end of the list and then convert it to an array -- other languages like Python or Ruby invoke the method lazily when the newer elements are required.

[2017-03-23 21:31] jmuk opened #124 "Bug: stream version of paged iteration can't stop in the middle properly"
Paged iteration can generate the stream version of the response. Instead of callback / Promise, it returns a Node.JS Stream which emits elements on `data` event. Reported that this stream can't stop properly in the middle, which causes unnecessary method calls which can damage usage quota.

[2017-03-30 18:49] #123 closed

[2017-03-30 18:49] #124 closed

[2017-04-04 18:20] jmuk opened #128 "Avoid creating the auth when grpc channel is specified"
Right now gax-nodejs always obtains the auth, and then combine the grpc channel with the auth. This is inconsistent with other languages, and also it drops features like custom channel without auth.

[2017-04-14 00:50] #128 closed

[2017-04-19 14:21] ofrobots opened #133 "Need regression tests for #132"
https://github.com/googleapis/gax-nodejs/pull/132 was a bug that leaked to the dependents of this module.

Can some tests be added to make sure this doesn't happen in the future?

[2017-04-24 20:24] stephenplusplus opened #134 "Automatic project ID insertion"
Hello!

The code on [GCN](http://gitnpm.com/google-cloud-node) has gotten a bit complicated due to one missing feature from this library; automatic project ID insertion.

What we want is:

[code]

This library would find and replace the `{{projectId}}` placeholder with the correct value:

1) The projectId that was given to gax when it was instantiated
2) The detected project ID from the environmen

[2017-04-28 19:05] stephenplusplus opened #135 "TypeError: message.encode is not a function"
[This GCN Logging system test](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/7555932fda02f06de50eee49d3193d493662d727/packages/logging/system-test/logging.js#L332) errors when using gRPC 1.3.0 (released yesterday):

[code]

[2017-04-28 20:22] murgatroid99 commented on #135
I know what caused this. The update of gRPC's dependency on ProtoBuf.js changed the types of the message classes exposed by `grpc.load`. The specific APIs of those classes were not intended to be part of the public stable interface.

Instead of explicitly calling their encode methods, I would recommend using the `requestSerialize` and `responseSerialize` functions exposed in the service definition

[2017-05-02 19:25] stephenplusplus commented on #134
@landrito @jmuk I'm noticing that when a client is instantiated, it runs async commands. This is an issue when those async commands fail, how does the error get communicated? It would be best to wait for the actual method call (e.g. "loggingClient.listLogEntries()") before doing anything async, and if it fails, it would either resolve the promise with the failure or execute the callback with it. C

[2017-05-02 22:20] murgatroid99 commented on #135
gRPC is going to switch its dependency on Protobuf.js back to version 5, which should fix this. That being said, you should still use `requestSerialize` and `responseSerialize` instead of `encode`. Those are guaranteed to be exactly the functions that gRPC uses for serialization.

[2017-05-02 22:26] jmuk commented on #135
I really prefer to have protobuf.js version 6 if possible, mainly for the performance (and I've heard that protobufjs 6 supports google.protobuf.Any data type properly, which is beneficial to LRO types). If gax is the main reason for version 5, we need to fix gax side to support it.

cc @lukesneeringer

[2017-05-02 22:58] murgatroid99 commented on #135
You can see in the linked PR that there are a couple of other issues with other breakages that this change introduced. So I'm reversing it until I can be sure that I can make the change without breaking anything.

One option you have is to load the proto file using Protobuf.js 6 directly, then load that into gRPC using `grpc.loadObject`. That will still work.

[2017-05-04 20:28] murgatroid99 commented on #135
I have published grpc@1.3.1-pre1, which switches the dependency on Protobuf.js back to version 5. Can you verify that this library works with that?

[2017-05-05 17:21] landrito commented on #134
Sorry for the delay! Working on this!

Do you think it would be helpful to generalize this to become a transformation hook where you can tie in custom request transformations?

Rough sketch of the interface:
[code]

[2017-05-05 17:21] landrito commented on #134
Regarding the async commands dropping failures, can you open a separate ticket and assign it to me. I'll look into that too.

[2017-05-05 17:22] stephenplusplus commented on #119
This is the part that throws the errors referenced in #134.

@landrito

[2017-05-05 17:24] landrito commented on #119
Noted and assigned!

[2017-05-05 17:25] stephenplusplus commented on #134
I do like that idea, although it would mean GCN has to do the same thing (define the replaceProjectIds behavior) everywhere it uses GAX, which if that's the case, @lukesneeringer thinks we should just do it in GAX.

Take a look at https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2272 to see the changes we made to *mostly* get it to work. Note that these are manual edits to the generat

[2017-05-05 17:27] landrito commented on #134
Since the `replaceProjectIds` behavior is common to GCN, I can figure out a good way to have it declared in gax.

[2017-05-05 17:27] stephenplusplus commented on #134
Woo!

[2017-05-12 19:02] landrito commented on #134
Hm. some questions.

One question I'm wrestling internally is if we should we expose this functionality at both a per-method basis and at an all-methods basis?
Whats the best interface for this?

What do you think would be most usable for you at a per method basis?

Either way, I'm going to implement simply the replacing the project id's transformation first and then adding the request transformat

[2017-05-13 17:38] stephenplusplus commented on #134
I don't know if request decorators will be very useful on the method level in GCN. The decorators are generally useful in two ways (let me know if you see others):

- saving time by only defining a constant request parameter once
- taking advanced control of the request, outside of just the request body, but other settings as well (in HTTP APIs, we give full control of the `request` npm module's s

[2017-05-15 14:30] lukesneeringer commented on #134
The primary use for this seems to be all-methods, but there might be something I am not understanding.

[2017-05-16 20:18] ofrobots opened #136 "grpc 'Deadline Exceeded' errors when network is low quality"
Not sure if this is the best repo for this, but it is suspected that the deadline setting is done by google-gax.

On a low-quality network I was getting the following gRPC error from the system-test for the `@google-cloud/logging` client library:

[code]

On a high quality network I cannot reproduce this error.

[2017-05-17 22:27] #136 closed

[2017-05-17 22:38] ofrobots commented on #136
/cc @stephenplusplus as FYI.

[2017-06-02 20:57] geigerj opened #138 "Confirm timeout override works with retry"
### What

Confirm that

[code]

in fact uses 123s as its initial timeout. If so, please close this bug.

### Why

This ticket is just to confirm that NodeJS GAX doesn't suffer from the bug noted in Ruby GAX at https://github.com/googleapis/gax-ruby/issues/71, since their implementations are similar.

[2017-06-12 12:41] stephenplusplus opened #141 "@google-cloud/vision does not support proxy with HTTP(S)_PROXY"
_From @refextu on June 8, 2017 16:27_

#### Environment details

  - OS: Docker
  - Node.js version: 7.10.0
  - npm version: 4.2.0
  - google-cloud-node version: google-cloud/vision: ^0.11.2

#### Steps to reproduce

* set HTTP(S)_PROXY via ENV
* block all outgoing traffic w/o proxy try to detect or annotate via nodejs api

expected: response from google server
actual: no response/block by firewal

[2017-06-12 12:41] stephenplusplus commented on #141
Our Vision API has a couple of layers beneath us which make the API requests:

- google-gax
- gRPC

@lukesneeringer which of these (if any) do you think should investigate this issue?

[2017-07-14 00:27] ofrobots opened #142 "Testing against Node 8"
The travis configuration suggests that we are not testing against Node 8. Is there a reason for this?

[2017-07-24 16:23] stephenplusplus opened #143 "remove google-proto-files"
RE: https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2458#issuecomment-316475672

GCN has removed the use of google-proto-files from the core library. GAX is still using it to load the proto files. See the link above for more details on the new structure.

[2017-07-24 16:23] stephenplusplus commented on #143
cc @lukesneeringer

[2017-08-17 16:11] callmehiphop opened #145 "should deadlines apply to streaming rpcs?"
I'm not sure if this is intended or not (it very well might be) but when a deadline is set for a streaming rpc the stream shuts down with a Deadline Exceeded error regardless of whether or not a connection is made once the deadline is hit.

I think this might be leading to strange behavior where the deadline must be increased by a great margin in order to allow the stream to stay open for longer.

[2017-10-01 02:57] AKPWebDesign opened #149 "Limits being called "exceeded" when being hit exactly"
I'm using the PubSub library, which is failing with the following error:

[code]

It seems to me that either the word "exceeds" should be changed, or the checks at [bundling.js:344](https://github.com/googleapis/gax-nodejs/blob/master/lib/bundling.js#L344) and [bundling.js:347](https://github.com/googleapis/gax-nodejs/blob/master/lib/bundling.js#L347) should be changed from `>=` to `>`.

[2017-10-18 15:19] stephenplusplus commented on #135
I believe this has been solved.

[2017-10-18 15:19] #135 closed

[2017-11-16 19:47] stephenplusplus opened #157 "Unhandled exception from gRPC for request size"
_From @matanh-tzmedical on November 13, 2017 21:18_

When trying to load test the our kubernetes stack by sending thousands of requests to our exposed endpoint I get this error which crashes the Node app:

```{ Error: Request payload size exceeds the limit: 10485760 bytes. at /var/www/node_modules/grpc/src/client.js:554:15 code: 3, metadata: Metadata { _internal_repr: {} } }```

It seems like the

[2017-11-16 19:47] stephenplusplus commented on #157
_From @ofrobots on November 13, 2017 23:42_

/cc @landrito @lukesneeringer @murgatroid99: Any guesses if this could be an issue in gRPC or in google-gax?

[2017-11-16 19:47] stephenplusplus commented on #157
_From @murgatroid99 on November 15, 2017 0:4_

This is a gRPC thing. By default, gRPC sets a limit on the size of (serialized) messages that can be sent or received. This can be modified with the channel arguments `"grpc.max_receive_message_length"` and `"grpc.max_send_message_length"`, which are defined [here](https://github.com/grpc/grpc/blob/baa14a975ef92ee6fb301f0e684f56f18f2c55a7/include/grpc

[2017-11-16 19:47] stephenplusplus commented on #157
_From @ofrobots on November 15, 2017 1:58_

So it seems that the google-cloud/common-grpc library [sets the defaults](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/25af76e2f79ad3a1da9e859aefd9a6db942c2aea/packages/common-grpc/src/service.js#L136) to:

[code]

So, that is already as expected. It would seem that somehow this is not taking effect.

[2017-11-16 19:47] stephenplusplus commented on #157
_From @ofrobots on November 15, 2017 2:19_

@stephenplusplus @lukesneeringer It seems that logging may be using the google-gax path. would this config in common-grpc apply at all?  I don't see google-gax doing anything with the size limits.

[2017-11-16 19:47] stephenplusplus commented on #157
_From @ofrobots on November 15, 2017 4:7_

Repro

[code]

[2017-11-16 19:47] stephenplusplus commented on #157
google-gax doesn't set any of these defaults, as far as I know. It should probably just copy the settings in common-grpc.

For now, this should work:

[code]

[2017-11-16 19:47] stephenplusplus commented on #157
_From @ofrobots on November 15, 2017 18:31_

@stephenplusplus that didn't work actually.

I think this issue belongs upstream in logging. Or perhaps more generally in all gax based in libraries given that there are known issues that caused us to customize the config in common-grpc. It doesn't make sense that we are using different network config for common-grpc libraries vs. gax based libraries.

[2017-11-16 19:47] stephenplusplus commented on #157
I don't have any rights on this repo, but consider me assigned to this issue.

[2017-11-17 15:59] stephenplusplus commented on #157
@landrito @ofrobots @lukesneeringer -- should these defaults be set in GAX or in toolkit?

[2017-11-17 18:12] ofrobots commented on #157
@lukesneeringer and @alexander-fenster?

[2017-11-17 18:28] landrito commented on #157
Given that there is already case precedent to set max send and receive length is set to be unlimited in google-cloud/common-grpc, I'm fine with setting these defaults in gax.

I'd like to see if this is an important `knob` to open up to API producers so we can have the default set at client library generation, I'll poll the other languages to see if this is relevant. For now, lets set these in gax

[2017-11-17 18:29] stephenplusplus commented on #157
Since you're here, any head start on where I can make this change?

[2017-11-17 19:05] landrito commented on #157
It would be set in this method: https://github.com/googleapis/gax-nodejs/blob/master/lib/grpc.js#L236

@stephenplusplus any idea why this was not fixed by:
[code]

[2017-11-17 19:18] stephenplusplus commented on #157
That actually does work for me. Full code:

[code]

[2017-11-17 19:19] stephenplusplus commented on #157
Sorry, confused myself in the terminal. Same error as without those settings.

[2017-11-17 19:22] stephenplusplus commented on #157
I added a log line here (https://github.com/googleapis/gax-nodejs/blob/master/lib/grpc.js#L236) and confirmed the grpc settings were recognized:

[code]

[2017-11-27 14:28] #143 closed

[2017-11-28 21:41] #142 closed

[2017-11-28 23:03] JustinBeckwith commented on #142
Thanks!

[2017-11-29 22:05] landrito opened #160 "Add bundling config overridability to CallOptions"
Originates from: https://github.com/googleapis/nodejs-logging-bunyan/issues/13

### What
Sometimes the bundling config set by the api producer will not work and the user needs to set the bundling config dynamically. Explore if setting the bundling config dynamically makes sense.

[2017-12-01 13:43] stephenplusplus opened #161 "Support Request Interceptors"
I'm not sure if this is the right place for this, but currently, non-gRPC GCN APIs allow the user to modify raw request parameters before a request is sent. This allows them to set their own headers / place a log line for debugging / etc.:

[code]

We should find a parallel for the GAX APIs that gives the user the same API, or something similar.

[2017-12-15 17:34] stephenplusplus opened #162 "Allow overriding Promise object"
Instead of using the default `global.Promise` object, it's common to allow users to provide their own Promise-spec compliant library (e.g. [bluebird](http://gitnpm.com/bluebird)).

We used to do this in non-GAPIC/gax clients, but transferring over to GAPIC-only broke the functionality: https://github.com/googleapis/nodejs-pubsub/issues/17

[2017-12-15 18:54] stephenplusplus commented on #162
Nevermind, this apparently [already exists](https://github.com/googleapis/nodejs-pubsub/issues/17#issuecomment-352082933)!

[2017-12-15 18:54] #162 closed

[2017-12-19 18:13] stephenplusplus opened #163 "Cloud Bigtable should have a gRPC channel pool"
###### Copied from original issue: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2343

<a href="/garye"><img src="https://avatars2.githubusercontent.com/u/37807?s=88&v=4" height=44 width=44 align=left></a>@garye<br>May 31, 2017 7:57 PM

To avoid hitting single-channel limits, the client should leverage a channel pool.

[2017-12-19 18:13] stephenplusplus commented on #163
<a href="/callmehiphop"><img src="https://avatars2.githubusercontent.com/u/1707267?s=88&v=4" height=44 width=44 align=left></a>@callmehiphop<br>May 31, 2017 9:33 PM

Is this something gRPC should implement? Seems like it might be something that could benefit all the APIs (not just Bigtable)

[2017-12-19 18:13] stephenplusplus commented on #163
<a href="/garye"><img src="https://avatars2.githubusercontent.com/u/37807?s=88&v=4" height=44 width=44 align=left></a>@garye<br>May 31, 2017 9:35 PM

It is indeed beneficial to all APIs. Cloud Bigtable contributed the Go implementation to a common location: https://github.com/google/google-api-go-client/blob/master/internal/pool.go. Perhaps something similar would work here.

[2017-12-19 18:13] stephenplusplus commented on #163
<a href="/blueGinko"><img src="https://avatars2.githubusercontent.com/u/10860944?s=88&v=4" height=44 width=44 align=left></a>@blueGinko<br>May 31, 2017 10:26 PM

I think I can look into this issue.

[2017-12-19 18:13] stephenplusplus commented on #163
<a href="/vkedia"><img src="https://avatars2.githubusercontent.com/u/20405887?s=88&v=4" height=44 width=44 align=left></a>@vkedia<br>May 31, 2017 11:37 PM

+1. This is something that would definitely be beneficial for cloud spanner as well. Though for cloud spanner its slightly more complex since we want to control which channel out of the pool is used for a specific request.

[2017-12-19 18:14] stephenplusplus commented on #163
<a href="/garye"><img src="https://avatars2.githubusercontent.com/u/37807?s=88&v=4" height=44 width=44 align=left></a>@garye<br>June 1, 2017 2:35 PM

@vkedia Interesting, looks like the client-side load balancing technique wouldn't work here. Are you doing this in other languages for cloud spanner?

[2017-12-19 18:14] stephenplusplus commented on #163
<a href="/vkedia"><img src="https://avatars2.githubusercontent.com/u/20405887?s=88&v=4" height=44 width=44 align=left></a>@vkedia<br>June 1, 2017 7:18 PM

@garye We do it in Java and Go. Essentially to interact with cloud spanner, one needs to create a `Session`. All other requests take in a session id. You get better performance if all requests with the same session id use the same channel (which

[2017-12-19 18:14] stephenplusplus commented on #163
###### _November 2, 2017 7:23 PM_

@lukesneeringer I believe this would be better implemented in GAPIC / gax / gRPC that would be opt-outable for cases like Spanner or when the API requires a more manual approach to channel-related perf. What do you think?

[2017-12-25 15:26] konstardiy opened #164 "Possible invalid processing of 404 from google storage"
Uhnahndled exception causing our application server crash. Possible cause - invalid handling of 404-alike case from google storage.
I reprting this issue here because only functions from this library mentioned in exception callstack.
`at /opt/app/backend/node_modules/google-gax/lib/api_callable.js:356:17 'TypeError: Cannot read property \'length\' of undefined\n at BundleExecutor.schedule (/opt/ap

[2018-01-05 13:51] plantsmiles opened #168 "ERR! Pre-built binaries not found for grpc@1.7.3 and node@6.12.2 (node-v48 ABI, musl)"
I'm running `@google-cloud/language` which uses this project as direct dependency. I have not problem running `nom install` on my host computer, but this application is served in docker.

All of a sudden when building my docker images

[code]

This has been working for weeks.. I do not understand why `https://storage.googleapis.com/grpc-precompiled-binaries/node/grpc/v1.7.3/node-v48-linux-x64-musl

[2018-01-05 15:14] stephenplusplus commented on #168
This issue was moved to https://github.com/grpc/grpc/issues/13928.

[2018-01-05 15:14] #168 closed

[2018-01-05 20:40] funkswing commented on #149
`google-gax` v0.14.3

The checks are here:
https://github.com/googleapis/gax-nodejs/blob/master/lib/bundling.js#L356
https://github.com/googleapis/gax-nodejs/blob/master/lib/bundling.js#L360

[2018-01-06 13:39] plantsmiles commented on #168
Thanks

[2018-01-10 00:19] ofrobots opened #169 "Enable greenkeeper on this repo"
As far as I can tell, greenkeeper is not enabled on this repo.

[2018-01-10 03:59] alexander-fenster commented on #169
@lukesneeringer please enable greenkeeper in the googleapis org settings, I will do the rest.

[2018-01-11 05:16] greenkeeper[bot] opened #170 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-01-16 21:42] alexander-fenster commented on #169
Greenkeeper is enabled.

[2018-01-16 21:42] #169 closed

[2018-01-19 15:48] WesCossick opened #173 "Publishing a new version"
Currently, the version of this project published on NPM depends on [gRPC](https://github.com/grpc/grpc) version `1.7.3`. The master branch has since been updated to use `~1.8.0`, which is great, except that hasn't been published yet to NPM.

I'd like to request a new version be published to NPM with the latest updates.

The reason this is important is because gRPC `1.7.3` isn't available for Alpin

[2018-01-25 14:46] nikkatalnikov commented on #173
+1
Same issue, update NPM please

[2018-01-31 23:53] greenkeeper[bot] opened #177 "An in-range update of google-auto-auth is breaking the build 🚨"
## Version **0.9.3** of [google-auto-auth](https://github.com/stephenplusplus/google-auto-auth) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/gax-nodejs/compare/greenkeeper%2Fgoogle-auto-auth-0.9.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      google-auto-auth
    </td

[2018-02-03 04:57] greenkeeper[bot] opened #181 "An in-range update of eslint is breaking the build 🚨"
## Version **4.17.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/gax-nodejs/compare/greenkeeper%2Feslint-4.17.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Curr

[2018-02-04 01:46] greenkeeper[bot] opened #182 "An in-range update of lodash is breaking the build 🚨"
## Version **4.17.5** of [lodash](https://github.com/lodash/lodash) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/gax-nodejs/compare/greenkeeper%2Flodash-4.17.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lodash
    </td>
  </tr>
  <tr>
    <th align=left>
      Curr

[2018-02-09 02:38] antonomoon commented on #149
@jmuk what do you think?

[2018-02-09 19:54] nikkatalnikov commented on #173
hey, guys, do you have any update?

[2018-02-14 16:50] funkswing commented on #149
Just incase anybody sees this issue before a fix is merged, a working fix is to set a batching message limit for publisher:

[code]

[2018-02-16 21:07] stephenplusplus opened #188 "Upgrade gRPC"
@alexander-fenster
@schmidt-sebastian

When do we want to go up to 1.9?

[2018-02-16 21:31] schmidt-sebastian commented on #188
I am OOO next week and from March 2nd to March 13th.

I would prefer if we google-gax bumped the minor version for this upgrade and we don't update Firestore until March 14th.

[2018-02-16 22:01] alexander-fenster commented on #188
OK, I will do that. We'll postpone Firestore update till 3/14.

[2018-02-26 16:54] stephenplusplus opened #192 "progressPercent is always 0"
###### Copied from original issue: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2803

<a href="/Maqsim"><img src="https://avatars2.githubusercontent.com/u/1107049?s=88&v=4" height=44 width=44 align=left></a>@Maqsim<br>February 24, 2018 9:57 AM

#### Environment details

  - OS: macOS 10.12.6
  - Node.js version: 8.9.3
  - npm version: 5.6.0
  - google-cloud-node version: 1.1.0

[2018-02-26 16:54] stephenplusplus commented on #192
###### _February 25, 2018 7:09 PM_

Are you handling the `error` event as well? And does `progress` get emitted more than once?

[2018-02-26 16:54] stephenplusplus commented on #192
<a href="/Maqsim"><img src="https://avatars2.githubusercontent.com/u/1107049?s=88&v=4" height=44 width=44 align=left></a>@Maqsim<br>February 26, 2018 1:38 AM

@stephenplusplus There is no errors for sure (the transcribing ends successfully). Only once.

[2018-02-26 17:58] alexander-fenster commented on #192
From reading the sources, it looks like there is no guarantee that `progress` will be emitted at 100% – instead, `complete` will be emitted. Summoning @landrito who wrote the original code and can comment here.

[2018-02-26 21:31] Maqsim commented on #192
@stephenplusplus @alexander-fenster In my case the processing takes some time, so it's not superfast

[2018-02-26 21:47] landrito commented on #192
I think this is an issue in the server. The metadata returned by an long running operation is defined by the api and is not intrinsic to the LRO design pattern itself.

[2018-03-06 04:39] greenkeeper[bot] opened #196 "An in-range update of mocha is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **5.0.2** of [mocha](https://github.com/mochajs/mocha) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/gax-nodejs/compare/greenkeeper%2Fmocha-5.0.2">Build failing 🚨</a

[2018-03-16 12:58] #170 closed

[2018-03-16 12:58] #177 closed

[2018-03-16 12:58] #181 closed

[2018-03-16 12:58] #182 closed

[2018-03-16 12:58] #196 closed

[2018-03-16 12:58] #188 closed

[2018-03-16 13:00] stephenplusplus commented on #173
We're updated and published with grpc@1.9 now 👍 .

[2018-03-16 13:00] #173 closed

[2018-03-16 13:02] stephenplusplus opened #200 "vuln: Prototype Pollution and ReDoS introduced via google-gax@0.15.0"
###### Copied from original issue: https://github.com/googleapis/nodejs-datastore/issues/69

<a href="/anishkny"><img src="https://avatars2.githubusercontent.com/u/357499?s=88&v=4" height=44 width=44 align=left></a>@anishkny<br>March 16, 2018 12:06 AM

Snyk reports vulns:

 1. Prototype Pollution - Vulnerable module: hoek - Introduced through: google-gax@0.15.0
 1. Regular Expression Denial of Ser

[2018-03-16 14:13] anishkny commented on #200
Snyk report for google-gax v0.15.0: https://snyk.io/test/npm/google-gax/0.15.0

[2018-03-23 19:02] ofrobots commented on #112
👋

[2018-03-28 19:40] stephenplusplus opened #208 "Misconfiguration of apiEndpoint, servicePath or port causes hang on query"
###### Copied from original issue: https://github.com/googleapis/nodejs-datastore/issues/79

<a href="/kevinohara80"><img src="https://avatars2.githubusercontent.com/u/565312?s=88&v=4" height=44 width=44 align=left></a>@kevinohara80<br>March 28, 2018 5:54 PM

#### Actual

Currently, when you execute a query with an invalid `apiEndpoint`, `servicePath` or `port`, the query executes but does not cal

[2018-03-28 19:40] stephenplusplus commented on #208
<a href="/kevinohara80"><img src="https://avatars2.githubusercontent.com/u/565312?s=88&v=4" height=44 width=44 align=left></a>@kevinohara80<br>March 28, 2018 6:13 PM

Even configuring your client like this hangs

[code]

[2018-03-28 19:42] stephenplusplus commented on #208
@kevinohara80 thanks for reporting.

@alexander-fenster The Datastore library simply passes the `servicePath` and `port` to GAPIC, which passes it to this library, when it instantiates a client. I'm not too well-versed in google-gax... do you know who could advise on how to proceed?

[2018-03-28 21:25] alexander-fenster commented on #208
We can ask @landrito who did some work for google-gax. I can take a look as well later this week. It definitely looks like a bug that we don't report error for invalid `servicePath` or `port`.

[2018-03-28 21:48] landrito commented on #208
IIUC, verifying that an apiEndpoint is correct would require that upon instantiation a

[2018-03-28 21:50] landrito commented on #208
This seems reasonable, I am not well enough versed in the GRPC API to know if theres a nice interface to check if the given service path is valid. I'll look into it.

[2018-03-28 23:13] stephenplusplus commented on #208
I think I would rather there was some sort of error that the network returned. So instantiation wouldn’t throw, but the first API call would either return “that place doesn’t exist” or the request would timeout.

[2018-03-28 23:17] landrito commented on #208
Ah gotcha, my misunderstanding of the issue. Seems a bit surprising to me. I would've assumed that the grpc api would have already returned an error of some sort if the service address is not reachable.

[2018-03-30 00:14] stephenplusplus commented on #208
Me too! How should we chase this one down?

[2018-04-08 23:37] tcf909 opened #210 "Missing *.proto files when directory has parentheses ( )"
in grpc.js:

[code]

Needs to be:
[code]

Without it, any project that includes parentheses in a parent folder will not include any of the *.proto files and will result in a thrown exception if an api is used.

[2018-04-18 15:12] cpriest commented on #164
I'm also seeing this issue when trying to log to StackDriver through the cloud-functions-emulator.
[code]

[2018-05-01 17:19] kjin opened #213 "Use @grpc/proto-loader to load .proto files"
[`@grpc/proto-loader`](https://www.npmjs.com/package/@grpc/proto-loader) was just released, and is intended to supercede proto-loading functionality in `grpc`. This (1) allows future `grpc` API changes to not be tied to changes in the `protobufjs` API, and (2) makes it easier for [`@grpc/grpc-js`](https://www.npmjs.com/package/@grpc/grpc-js) to be used as a drop-in pure JS replacement in the futur

[2018-05-04 09:03] mlarcher commented on #164
Same here, module fails on ` var elementCount = bundledField.length;` in node_modules/google-gax/lib/bundling.js in BundleExecutor.schedule at line 345:35
Any info on the matter ?

[2018-05-05 23:09] alexander-fenster opened #220 "flaky timer tests"
One test started failing in nightly builds since the latest typescript change. Not sure if it's related though. The failure always look like this one and is flaky enough (happens sometimes, on different versions of Node.js). Could you please take a look?

Cc: @crwilcox

[code]

[2018-05-09 13:58] juliusza opened #222 "Insecure dependency: protobufjs@5.0.2"
Please update dependencies if patched versions are available:

![image](https://user-images.githubusercontent.com/7459337/39818681-2809dd90-53aa-11e8-9608-ffb588eccedc.png)

[2018-05-10 22:01] JustinBeckwith commented on #222
This is getting brought in by grpc@1.11.3 - @ murgatroid99 is there a release on the way with an updated protobuf?

[2018-05-10 22:11] #220 closed

[2018-05-16 19:31] JustinBeckwith commented on #89
With grpc-js becoming a thing, I think we'll (eventually) be able to move over to that :)

[2018-05-16 19:31] #89 closed

[2018-05-16 19:58] JustinBeckwith commented on #33
I fixed this in #228

[2018-05-16 19:58] #33 closed

[2018-05-16 20:05] JustinBeckwith commented on #200
This was resolved in 0.16 🎉

[2018-05-16 20:05] #200 closed

[2018-05-16 22:35] #112 closed

[2018-05-29 14:01] kevinohara80 commented on #208
Just hit this again. This time it was with a bad JWT credential. Logged it in the datastore repo in case it wasn't an issue with gax but I'm guessing it is. googleapis/nodejs-datastore/issues/94

Any chance this can get looked at? There's clearly an underlying issue with the Promise implementation causing multiple situations that can arise where promises are left unresolved.

[2018-05-30 01:08] davibq commented on #222
Any updates on this one? Looks like https://github.com/dcodeIO/protobuf.js/pull/1030 has been merged.
Can we update the dependencies to point to protobuf.js@5.0.3 ?

[2018-05-31 23:56] JustinBeckwith commented on #210
@tcf909 is this causing exceptions or problems in a specific use case?

[2018-05-31 23:57] JustinBeckwith commented on #192
@landrito should we assign this to someone else then?  What should we do with this issue?

[2018-06-01 17:07] alexander-fenster commented on #192
Discussed it with @landrito. The code in gax that emits `progress` has no idea what's inside the metadata (https://github.com/googleapis/gax-nodejs/blob/2d02e7eb0c69a5a160a41aac1e55a0bc804de32a/src/longrunning.ts#L377):
[code]
which makes me think it's rather an API issue than the gax issue (we can not emit progress 100% as we don't know the metadata format here).

I think we should close this iss

[2018-06-01 17:32] alexander-fenster commented on #192
My understanding is that gax layer does not add any logic here.

[2018-06-05 16:12] tcf909 commented on #210
Yes definitely. Using the cloud datastore sdk for nose.js I get an
exception thrown (unable to find proto files) when using npm 5.x+ unless I
patch the code so that glob will work with the directories I mentioned.

There is another package that is using the base proto package, so no
consolidates the package further up the directory chain. Then when the
dependent packages go to search for the base

[2018-06-08 19:47] JustinBeckwith opened #242 "Enable noImplicitAny in the tsconfig"

[2018-06-08 19:48] JustinBeckwith opened #243 "Enable noImplicitThis in the tsconfig"

[2018-06-11 18:20] JustinBeckwith commented on #222
This seems to be resolved.  Please do let me know if you're still getting the error!

[2018-06-11 18:20] #222 closed

[2018-06-13 16:18] stephenplusplus opened #249 "require('google-gax') returns errors"
I installed only `google-gax` in a fresh directory (Node v10/npm v6.1.0), and tried to require the module from the Node console:

[code]

[2018-06-13 16:18] stephenplusplus commented on #249
@JustinBeckwith PTAL!

[2018-06-13 18:21] kolodny opened #250 "Error on new gax.lro()"
[code]

[2018-06-13 18:47] stephenplusplus opened #252 "Invalid JWT causes hang on unrejected promise"
_From @kevinohara80 on May 29, 2018 13:53_

We started noticing that we were getting request timeouts to an api we created that was calling cloud datastore from node.js. Upon further inspection, it appears that the test JWT we were using was invalid. The problem here is that when a cloud datastore call is made with an invalid JWT, the Promise returned from the call is never rejected causing our ap

[2018-06-13 18:49] stephenplusplus commented on #252
I was able to reproduce this.

@JustinBeckwith @landrito: I'm not sure where these things happen, but they seem incorrect:

1) Retrying on this error: "Auth error:Error: invalid_client: The OAuth client was not found."
2) Logging this error

Any ideas on where to look?

[2018-06-13 19:35] #250 closed

[2018-06-15 19:17] stephenplusplus commented on #249
I tried that version as well as v10.4.1, as well as on another computer (OS X, previously tested on Windows). Same error.

Note that this doesn't happen if you just `require('google-gax')` from inside a file. It's only when you `require('google-gax')` in a Node console.

[2018-06-15 20:02] crwilcox commented on #249
I just retried and am seeing issues in, v8.11.3, v10.4.1

[code]

[2018-06-15 20:06] JustinBeckwith commented on #249
I have a suspicion this line has something to do with it:
https://github.com/googleapis/gax-nodejs/commit/783cb883bc6482ddf7db12ea310ffbe6fbee60f9#diff-bb99529408df06caafed25d9e0cd083fL39

Digging deeper.

[2018-06-15 21:33] JustinBeckwith commented on #249
So my investigation led me here:
https://github.com/googleapis/nodejs-proto-files/blob/master/load.js#L22

I'm not super familiar with that codebase, so I'm not sure how that's supposed to work.  If I add a leading `__dirname` in with the rest of the path, it seems to work (but tests fail).  @alexander-fenster @stephenplusplus any insights on what might be happening here?

[2018-06-18 14:38] stephenplusplus commented on #249
I've been looking into this, I should have a PR later today.

[2018-06-18 21:49] stephenplusplus commented on #249
PR! https://github.com/googleapis/nodejs-proto-files/pull/46

[2018-06-21 13:59] stephenplusplus commented on #249
Fixed in https://github.com/googleapis/nodejs-proto-files/pull/46!

[2018-06-21 13:59] #249 closed

[2018-06-21 17:01] ofrobots opened #256 "Logging: How to change BundleOptions"
_From @FalconerTC on November 9, 2017 22:28_

I hit a quota limit for Stackdriver ingestion requests recently, which is 1000 / second. I found this happened because I have a distributed service that was not bundling well because the GoogleCloud logging config sends logs every 50ms, per [source here](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/a8ee79e390b29360957576e36ba14abbbb3b2

[2018-06-21 17:01] ofrobots commented on #256
/cc @lukesneeringer @stephenplusplus

[2018-06-21 17:01] ofrobots commented on #256
_From @stephenplusplus on November 10, 2017 20:56_

@lukesneeringer is there anyone we can ask from the google-gax repo? @landrito?

It appears the only option you can pass through on the request is: `isBundling`, which can only disable the previously hard-coded setting. I'm not sure that there's a way to override it at runtime.

Additionally/alternatively, maybe we should be using a better defaul

[2018-06-21 17:01] ofrobots commented on #256
_From @FalconerTC on November 29, 2017 17:50_

Any updates or ideas on this?

[2018-06-21 17:01] ofrobots commented on #256
_From @JustinBeckwith on November 29, 2017 19:25_

Calling @alexander-fenster :)

[2018-06-21 17:01] ofrobots commented on #256
_From @alexander-fenster on November 29, 2017 20:37_

@landrito to comment :)

[2018-06-21 17:01] ofrobots commented on #256
_From @landrito on November 29, 2017 22:8_

Hm. I filed an issue in gax-nodejs to see if dynamically setting the bundling at call time makes sense. I have a hunch that introducing the ability to override it at call time is going to introduce a lot of complexity (what do we do for calls made prior to dynamically changing the bundling, what to do for calls with different

@stephenplusplus do you thi

[2018-06-21 17:01] ofrobots commented on #256
_From @stephenplusplus on December 11, 2017 18:39_

Those concerns make sense to me. I guess we wouldn't want to open up the setting at the method level, but during instantiation of the client. If there's anything else gax uses similar to `BundlingConfig`, we would want to make sure those could be passed through as well.

[2018-06-21 17:01] ofrobots commented on #256
_From @landrito on December 11, 2017 19:29_

So overriding the bundle options should work at client initialization like so:

[code]

Looking at how the logging-bunyan client is implemented, it passes the constructor opts to the logging client directly. So passing the clientConfig to the constructor of the logging-bunyan client should yield overridden bundling options.

[2018-06-21 17:01] ofrobots commented on #256
_From @stephenplusplus on December 11, 2017 19:39_

Oh, that looks like a good enough solution to me. @FalconerTC what do you think?

[2018-06-21 17:01] ofrobots commented on #256
_From @FalconerTC on December 12, 2017 16:14_

This is perfect. Exactly what I am looking for. Thanks for the help.

[2018-06-21 17:01] ofrobots commented on #256
_From @stephenplusplus on December 12, 2017 17:54_

Great. I think what we need to do now is add a mention to the docs that this type of configuration is possible. @landrito is there something on the gax docs we can link to?

[2018-06-21 17:01] ofrobots commented on #256
_From @DominicKramer on June 15, 2018 17:46_

@landrito Friendly ping.

[2018-06-21 17:01] ofrobots commented on #256
@DominicKramer I would suggest moving the issue (using the issue mover) to the gax-repo as the outstanding task is to update the docs.

[2018-06-22 22:35] ofrobots opened #416 "Do not ship protos as part of the package"
https://github.com/googleapis/nodejs-logging/blob/01ec04e794966e54450e2b0c7ffd28fab791afea/package.json#L12-L18

Is there a reason why the protos are shipped in the package? @alexander-fenster

[2018-07-06 13:23] AdriVanHoudt commented on #149
Is there a eta on a fix?
I just ran in to this and @funkswing's fix works 👌

[2018-07-20 15:30] stephenplusplus commented on #121
cc @johnviolano who reported htis over here: https://github.com/googleapis/nodejs-datastore/issues/137

[2018-07-28 21:55] ericrwolfe commented on #164
I'm seeing this error pop up frequently in node's unhandledRejection callback when using @google-cloud/logging-bunyan (0.8.2) within Firebase functions (SDK 2.0.2).

Specifically, the `TypeError: Cannot read property 'length' of undefined` error is thrown on this line due to the bundle field "entries" being `undefined`:
https://github.com/googleapis/gax-nodejs/blob/3360c3ea0ab254da91c42ac8b7d03d3b

[2018-07-31 19:39] #164 closed

[2018-08-09 21:49] alexander-fenster opened #286 "Need to stop using grpc.load"
`grpc.load` is deprecated so we need to switch to `proto-loader`. This refactor was started in #229 but some more work needs to be done.

Also, I'm planning to rethink the idea of `COMMON_PROTOS`: since `proto-loader` supports searching in several directories (`includeDirs` option), this logic can be offloaded to it.

TODO:
1. Do not use `grpc.load`.
2. Simplify `COMMON_PROTOS` logic.
3. Make test

[2018-08-14 17:06] stephenplusplus opened #287 "Set default gRPC parameters"
In common-grpc, we had some defaults set:

[code]

Should we pop these in here as well?

[2018-08-17 13:19] dankraus opened #288 "Upgrade gRPC version - Getting segfaults in node cluster"
Hi,

We just started using these libraries (pubsub) in production which run in a cluster under PM2. Since deploying, we've have a sudden surge in segfaults in our processes. We're confident that it stems from this depedency and gRPC. The team there has evidently just recently fixed it in version 1.14.1 with this PR https://github.com/grpc/grpc-node/pull/492 for this issue https://github.com/grpc/g

[2018-09-07 17:41] jrmerz opened #297 "semver not declared as dependency in package.json"
#### Environment details

  - OS: Debian/Linux
  - Node.js version: v8.11.4
  - npm version: 5.6.0
  - `google-gax` version: 0.19.0

#### Steps to reproduce

`semver` is not declared as a dependency in the package.json file but required [here](https://github.com/googleapis/gax-nodejs/blob/master/src/grpc.ts#L40) and while it is a dependency of `grpc`, my project has a conflict dependency on `semve

[2018-09-08 00:27] #297 closed

[2018-09-11 18:19] alexander-fenster commented on #286
The merged change fails on LRO, still working on a fix.

[2018-09-12 18:15] #286 closed

[2018-09-14 17:31] stephenplusplus commented on #252
Ping for help!

[2018-09-14 19:11] landrito commented on #252
cc @alexander-fenster

[2018-09-14 19:51] JustinBeckwith commented on #252
So, I'm fairly new to this code, but this is what I'm seeing:
- An API call is calling the `createApiCall` method [here](https://github.com/googleapis/gax-nodejs/blob/master/src/api_callable.ts#L383)
- All API calls through this method are wrapped with [retryable](https://github.com/googleapis/gax-nodejs/blob/master/src/api_callable.ts#L399)
- I cannot for the life of me find where this is getting

[2018-10-01 17:41] stephenplusplus commented on #134
I don't think we're going this route, eventually planning on having our handwritten code do a fetch for any required info (project ID, credentials stuff for sign operations) within the same method that needs it.

[2018-10-01 17:41] #134 closed

[2018-10-01 20:42] JustinBeckwith commented on #252
Greetings!  So I'm pretty sure this got fixed somewhere along the way.  Using this code:

[code]

I get this output:

[code]

Which is pretty much what I would expect 🤷‍♂️  I am using the latest version of node.js 10, and the latest Datastore/express.  If you can still reproduce this...  please do let me know!

[2018-10-01 20:42] #252 closed

[2018-10-03 20:30] adrianodennanni opened #350 "Auto reestablish StreamingPull connection after retryable error events"
#### Environment details

  - OS: Debian GNU/Linux 8 (jessie)
  - Node.js version: v10.11.0
  - npm version: 6.4.1
  - `@google-cloud/pubsub` version: 0.20.1

#### Steps to reproduce

1. Create a StreamingPull listener:
[code]

2. Works fine for few minutes until the server becomes UNAVAILABE (error 14, code 8a75). After that, the stream stops receiving events.

---

I know that some of the error

[2018-10-10 00:18] alexander-fenster commented on #256
[going through old issues]

I don't see how it is related to gax. We may have this documented in the generated code (pointing to a sample place in gapic-generator baseline: https://github.com/googleapis/gapic-generator/blob/156a4c6670ca64aabc1cf8bd882675971bc9e7cc/src/test/java/com/google/api/codegen/gapic/testdata/nodejs/nodejs_library.baseline#L228) though I'm not sure we really need to expose t

[2018-10-10 03:56] ofrobots commented on #256
These bundling options were the only way for the user to resolve their issue with the Logging Client library. If we don't think we should document this, we should come with a better answer for how users should address the original problem.

IMO, when this issue is resolved, one the following statements should be true:

1. The logging (and other) client libraries should be able to describe `clientC

[2018-10-10 13:42] #288 closed

[2018-10-24 14:20] sduskis commented on #163
Java, Go, C#, C++ use multiple cores for one process, and that's where channel pools really matter; the more CPUs, the more throughput through the same logical channel.  Languages with GILs use only 1 CPU, so the limitation of one channel per process isn't all that bad.

More so, Node.js grpc has performance issues that would have to be fixed before a single Channel becomes a bottleneck.

[2018-10-24 21:04] julien-c opened #330 "Node v11 build broken"

[2018-11-02 16:41] JustinBeckwith opened #341 "Drop usage of `globby` npm module"
I ran some performance #'s on load time using require-so-slow.  The `globby` package is responsible for 40% of the gax-nodejs total load time:

![image](https://user-images.githubusercontent.com/534619/47928377-5b618580-de83-11e8-81d6-9f66fb9d6404.png)

What we're doing with the package is super straightforward - walking recursively through a tree, and finding paths that match `*.proto`.  We proba

[2018-11-09 22:52] JustinBeckwith commented on #341
Fixed in #346

[2018-11-09 22:52] #341 closed

[2018-11-09 23:20] #243 closed

[2018-11-10 00:55] vchudnov-g commented on #210
@tcf909 Is this still an issue?

[2018-11-10 00:56] vchudnov-g commented on #208
@kevinohara80 Is this still an issue?

[2018-11-10 00:57] vchudnov-g commented on #192
@JustinBeckwith It sounds like we need to talk to the Speech API team. Are you the right person to do this?

[2018-11-10 00:58] vchudnov-g commented on #157
@alexander-fenster Any updates?

[2018-11-10 00:58] vchudnov-g commented on #149
@alexander-fenster Any updates on this?

[2018-11-10 00:59] vchudnov-g commented on #145
@alexander-fenster Any updates?

[2018-11-12 22:19] alexander-fenster commented on #330
We are blocked here on https://github.com/mapbox/node-pre-gyp/issues/426 since it's gRPC Node.js module that fails building on Node.js 11.

[2018-11-13 13:31] christopher-johnson opened #356 "support grpc-web"
I would like to be able to use Node.js Google Cloud Client APIs from the browser.  It looks like currently that `grpc-node` is not supported for this, as evidenced in [this issue](https://github.com/grpc/grpc-node/issues/610).  I am guessing that [grpc-web](https://grpc.io/blog/grpc-web-ga) might be a way forward for this?

[2018-11-15 19:02] tcf909 commented on #210
Yes. Still an issue.

This is the patch I run anytime I install google-gax:

[code]

[2018-11-15 19:11] alexander-fenster commented on #210
@tcf909 After #346 has landed we don't use `globby` anymore, it got replaced with `walkdir` which should not have any special behavior related to brackets. Can you check if it works for you on the latest release, v0.22.1?

[2018-11-15 19:30] tcf909 commented on #210
If Datastore bumped its dependency up this wouldn't be an open issue for me
any longer.

On Thu, Nov 15, 2018 at 11:28 AM Justin Beckwith <notifications@github.com>
wrote:

--
T.C. Ferguson
(916) 258-2568 | Mobile
tcf909@gmail.com

[2018-11-16 21:13] alexander-fenster commented on #356
Hi @christopher-johnson! We do have plans of making our GAPIC libraries available in browser, and grpc-web is one of options. You can expect this to happen later this or early next year.

[2018-11-16 21:20] alexander-fenster commented on #330
The new gRPC v1.16.1 works with Node 11 (since the issue I referenced above is fixed in node-pre-gyp v0.12.0). Node 11 build should be working now!

[2018-11-16 21:20] #330 closed

[2018-11-19 22:01] noahdietz commented on #256
Hi folks, any update on this issue? Is this still a P1? Thanks!

[2018-11-19 22:04] noahdietz commented on #157
@alexander-fenster any updates on this issue? Thanks!

[2018-11-20 23:42] alexander-fenster commented on #54
@JustinBeckwith I have no idea what's this about. Looks like this code does not exist anymore. Close?

[2018-11-20 23:51] JustinBeckwith commented on #54
I mean, the more general question of what we do with that auto-generated file is still valid.  I honestly don't know:
1. Why do we generate code here
2. Do we need to
3. Can we use TypeScript?

I would feel better about life if we could cut this generator thing out all together.

[2018-11-21 00:04] alexander-fenster commented on #54
OK. So first of all, it's already TypeScript and it's obviously manually edited (I'm talking about [this file](https://github.com/googleapis/gax-nodejs/blob/master/src/operations_client.ts)) even though it has a note that this is auto-generated. It's untyped though, I guess you only changed `.js` to `.ts` and added `import` lines.

From what I see, this file is some prehistoric version of GAPIC ge

[2018-11-21 00:56] #54 closed

[2018-11-21 12:25] yoshi-automation opened #363 "Synthesis failed for gax-nodejs"
Hello! Autosynth couldn't regenerate gax-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b5cd2d69-0831-4c9e-b2d1-9b102b29664f).

[2018-11-21 18:06] #363 closed

[2018-11-27 17:04] tdanecker commented on #141
I have exactly the same issue. For the connection to speech.googleapis.com, the HTTP CONNECT is done correctly. For connecting to www.googleapis.com, it tries to do a TLS Handshake (for that domain) with the proxy, which is just bogus as it should also do a HTTP CONNECT.

With dialogflow, the same problem occurs, so I assume it's an issue in google-gax.

[2018-11-27 18:50] mephicide commented on #141
I actually found the "issue" (in my case) and found a workaround which I was able to publish internally at my company as a sort of stop-gap.  The issue is actually with the GToken (https://github.com/googleapis/node-gtoken) library's use of Axios (https://www.npmjs.com/package/axios) in handling its HTTPS connections.  My environment contains a proxy that does HTTPS tunneling over HTTP, and there

[2018-12-02 06:20] danielcardeenas opened #368 "Wrong path when resolving protofile (datastore)"
#### Environment details

  - OS: Windows 10
  - Node.js version: 9.11.1
  - npm version: 6.1.0
  - `@google-cloud/datastore` version: 2.0.0

#### Steps to reproduce

  1. Use @google/datastore library (runtime)

At runtime. When trying to use datastore library, next error occurs
[code]

Current code.
**COMMON_PROTO_FILES** array does not contains string "**google/datastore/v1/datastore.proto**".

[2018-12-10 06:11] danielcardeenas commented on #368
This bug happens in production build only

[2018-12-10 18:19] jbolinger commented on #256
Any updates? There hasn't been much recent discussion - is this really a P1?

[2018-12-10 18:19] jbolinger commented on #157
@alexander-fenster Any updates?

[2018-12-10 18:20] jbolinger commented on #141
@alexander-fenster Any updates?

[2018-12-10 18:20] jbolinger commented on #133
@alexander-fenster Any updates?

[2018-12-10 18:20] jbolinger commented on #121
@alexander-fenster Any updates? Is this really a P1?

[2018-12-10 18:20] jbolinger commented on #65
@alexander-fenster Any updates?

[2018-12-17 23:30] wyardley commented on #149
I threw up a PR that implements @funkswing's changes + one change to accommodate this in the tests. Not quite sure why this hasn't been looked at since it was flagged as P2 and assigned to someone in late May @JustinBeckwith.

[2019-01-02 18:11] landrito commented on #256
@alexander-fenster ping.

[2019-01-02 18:11] landrito commented on #157
@alexander-fenster ping.

[2019-01-02 18:12] landrito commented on #141
@alexander-fenster any updates?

[2019-01-02 18:12] landrito commented on #133
@alexander-fenster any updates?

[2019-01-02 18:12] landrito commented on #121
@alexander-fenster ping.

[2019-01-02 18:12] landrito commented on #65
@alexander-fenster ping.

[2019-01-03 19:35] alexander-fenster commented on #157
Looking at this old issue... gRPC options can be set in the client constructor and will be passed down to gRPC. We had recently some changes related to that in #328. Closing this for now. If grpc options are not passed down to gRPC correctly please create a new issue.

[2019-01-03 19:36] #157 closed

[2019-01-03 19:38] alexander-fenster commented on #141
I need to take a look how proxy support is implemented in grpc-node.

[2019-01-03 19:40] alexander-fenster commented on #121
This is reported as https://github.com/googleapis/gapic-generator/issues/2065 and will be tracked there.

[2019-01-03 19:40] #121 closed

[2019-01-07 10:38] callmehiphop opened #388 "Timeout errors do not return a status code."
Original Issue: https://github.com/googleapis/nodejs-pubsub/issues/412

Reporter noted that timeouts throw generic Error objects only containing a message, this makes determining if an error is retry-able difficult. Upon inspection it looks like there are [a number of scenarios](https://github.com/googleapis/gax-nodejs/blob/master/src/api_callable.ts#L257) that Error objects are thrown where a [Se

[2019-01-07 18:20] vam-google commented on #388
@alexander-fenster I labeled this issue as "Feature request", but it could also be a "Bug".

[2019-01-08 14:07] callmehiphop commented on #65
Do we even really want this anymore? `common-grpc` has been phased out in a lot of places in favor of gax, so I would think at this point most of users are used to/comfortable dealing with grpc status codes.

[2019-01-09 22:15] callmehiphop commented on #208
I've spent some time trying to chase this down and I stumbled across https://github.com/grpc/grpc/issues/9481#issuecomment-349107989.

It sounds like maybe our best course of action is add documentation on troubleshooting hanging requests with emulators?

@JustinBeckwith @alexander-fenster @stephenplusplus WDYT?

[2019-01-10 19:57] #388 closed

[2019-01-11 15:20] callmehiphop opened #392 "improve TypeScript support"
Since we're trying to improve our TypeScript support for all the client libraries, it would be nice if gax exported some additional types. For example - I've found myself stubbing interfaces for both the `Operation` and `StreamProxy` classes. I think we should do a run through of the various types and make sure we're exporting any that would benefit the client libraries.

[2019-01-11 17:08] JustinBeckwith commented on #392
When we converted this to TypeScript, I was pretty much guessing at most of the types to get us at a point where things would compile and we could enable `noImplicitAny`.  The way we've handled this in other projects is to just add the types you need as you go :)  If you need those interfaces - go ahead and add them!

[2019-01-11 19:02] callmehiphop commented on #392
@JustinBeckwith thats my plan! I just like creating issues in case I get sidetracked, lol.

[2019-01-11 20:07] alexander-fenster commented on #392
This will be covered when I work on TypeScript generator (some time this quarter).

[2019-01-21 20:45] JustinBeckwith commented on #242
Yup!

[2019-01-25 19:21] kidplug opened #403 "Bad credentials (or missing) throws UnhandledPromiseRejectionWarning"
When creating a new SpeechClient (specifically using keyFilename), and the file does not exist:

' new speech.SpeechClient({keyFile:"my.json"});'

causes:
`UnhandledPromiseRejectionWarning`

How is the caller supposed to catch or handle this?  Does the returned SpeechClient object expose a promise that can be acted upon?

[2019-01-28 06:44] JustinBeckwith opened #401 "Static generation vs loading protos at runtime"
So, I'm in no way an expert on gRPC.  I've noticed that we seem to be shipping *.proto files in our libraries, and then parsing/loading them at runtime.  I also notice that we tend to do a lot of this synchronously, and during construction.

What do folks think of us... not doing that?  Just guessing, but if we use `pbjs` to generate the stubs at compile time, wouldn't that save us a fair bit of r

[2019-01-28 07:49] kinwa91 commented on #401
Is this in the scope of the upcoming microgenerator work? I feel like we would be able to take advantage of generated typescript protobuf code..

[2019-01-28 18:08] kinwa91 commented on #401
Referencing existing issues:
https://github.com/googleapis/nodejs-firestore/issues/528
https://github.com/googleapis/nodejs-kms/issues/99

[2019-01-30 20:32] alexander-fenster commented on #141
@stephenplusplus sorry, haven't touched this yet. From the basic understanding, I guess the proxy must support HTTP/2 (or maybe just support CONNECT), but no idea (yet) how it works in the real life. If you have time to investigate, please do :)  If not, I'll get back to this issue after I complete #400.

[2019-02-08 20:27] alexander-fenster commented on #416
Cc: @eoogbe

We are now evaluating options for dealing with proto files shipped with packages (there are several options: leave as is, change to `pbjs`/`pbts` generated stubs, change to `protoc` generated stubs, and each of those options has different settings and flavors, and different performance benefits.

[2019-02-08 20:29] JustinBeckwith commented on #416
I moved this over here from logging because it's really not specific to logging.  More of a gax and microgenerator thing :)

[2019-02-10 17:03] JustinBeckwith commented on #210
Pretty sure we got this all figured out.  Please do let me know if you're still running into issues!

[2019-02-10 17:03] #210 closed

[2019-02-10 17:05] JustinBeckwith commented on #65
Closing this out, as it's unclear if we need it.

[2019-02-10 17:05] #65 closed

[2019-02-10 17:36] JustinBeckwith commented on #1
This has been around for 3 years, and I kinda doubt we're going to fix it any time soon.  Closing out.

[2019-02-10 17:36] #1 closed

[2019-02-10 17:37] JustinBeckwith commented on #71
2.5 years in - I think most of the APIs we have exposed here in gax are pretty settled in sadly.  @stephenplusplus @callmehiphop - if we want to make any of this stuff actionable, I would *really* love it if y'all would create individually actionable bugs that can be picked at one at a time :)

[2019-02-10 17:37] #71 closed

[2019-02-10 17:40] JustinBeckwith commented on #119
@stephenplusplus I'm a tad confused on this one :)  Is this something we do for the other APIs in any places?

[2019-02-10 17:43] JustinBeckwith commented on #368
Greetings!  In @google-cloud/datastore 3.0, we started using a different approach to resolving paths for proto files.  @danielcardeenas would you be willing to give this a shot with the latest version?

[2019-02-10 17:43] JustinBeckwith commented on #416
I'm going to close this in favor of #401

[2019-02-10 17:43] #416 closed

[2019-02-10 19:44] danielcardeenas commented on #368
Of course

[2019-02-11 16:57] stephenplusplus commented on #119
I'm not sure if it's still there, but we used to allow disabling the token-fetching stage for scenarios where a user is in an emulator. I don't think we exposed a user-accessible setting, i.e. "options.disableAuth", but rather, we were able to internally bypass the auth step when we knew it wasn't needed-- when a user provided their own `options.apiEndpoint` host (usually to point to their emulato

[2019-02-11 20:35] eoogbe commented on #401
It looks like protobufjs doesn't support gRPC: https://github.com/grpc/grpc-node/issues/528

[2019-02-14 19:06] eoogbe commented on #401
To be clear, it doesn't support gRPC directly. `@grpc/protoloader` uses protobufjs internal.

[2019-02-25 10:36] callmehiphop opened #432 "Operations should emit error if completes with status error."
As it is today, operations poll a `getOperation` method that returns metadata about said operation. Operations can fail without throwing an error, but instead by having an [embedded error](https://github.com/googleapis/googleapis/blob/master/google/longrunning/operations.proto#L105). Currently we emit a `complete` event regardless of whether or not it is present, but we should check for it an emit

[2019-02-25 10:39] callmehiphop commented on #432
Whoops, I should have read this a bit more carefully, looks like we do handle that case.

[2019-02-25 10:39] #432 closed

[2019-02-25 18:11] noahdietz commented on #401
@eoogbe any update on this issue? Thanks!

[2019-02-25 18:12] noahdietz commented on #208
@alexander-fenster @JustinBeckwith any thoughts/update on this issue? Thanks!

[2019-02-25 18:14] noahdietz commented on #192
This issue is a year old and it looks like its an API specific issue. Can we close this and take an AI to reach out to the API owner? Thanks!

[2019-02-25 18:26] JustinBeckwith commented on #401
I'd like to keep this open for discussion.  It looks like this is something we should engage with the gRPC team.

[2019-02-25 18:28] noahdietz commented on #401
@eoogbe Is this something you can take to the gRPC team for exploration or should we assign it to another for follow up?

[2019-02-25 21:03] JustinBeckwith commented on #208
After further discussion, we're closing this one.

[2019-02-25 21:23] alexander-fenster commented on #403
Fixed by https://github.com/googleapis/gapic-generator/pull/2565.

[2019-02-25 21:23] #403 closed

[2019-02-25 21:35] JustinBeckwith commented on #392
In it's current state, this isn't really actionable.  When you find a specific type that isn't represented - can you file a bug for that with details, and an example of how you have to stub it?

[2019-02-25 21:35] #392 closed

[2019-02-25 21:35] JustinBeckwith commented on #368
Greetings!  If this is still an issue, please do let us know.  I'm like 99% sure we fixed the glitch, so I'm closing this out for now.

[2019-02-25 21:35] #368 closed

[2019-02-25 21:36] JustinBeckwith commented on #350
@alexander-fenster does this request make sense?  Is this reasonable?

[2019-02-25 21:37] JustinBeckwith commented on #98
This doesn't appear to have any external followers, and is super old.  Dropping this for now.

[2019-02-25 21:37] #98 closed

[2019-02-25 22:23] callmehiphop commented on #392
@JustinBeckwith sorry, I totally forgot about this. I opened #433 to export the types I was looking for when writing gapic declaration files.

[2019-02-26 02:09] danielcardeenas commented on #368
After updating now I'm facing the next issue:
`Caught exception: TypeError: Datastore is not a constructor`

[2019-02-26 04:52] JustinBeckwith commented on #368
Can you create a new issue in googleapis/nodejs-datastore with details?

[2019-02-26 04:58] danielcardeenas commented on #368
Of course https://github.com/googleapis/nodejs-datastore/issues/340

[2019-02-26 18:51] noahdietz commented on #208
@JustinBeckwith any new reason why this has been closed then reopened? (I'm just trying to help route it if necessary)

[2019-02-26 19:23] JustinBeckwith commented on #208
@ofrobots and the gRPC folks were having a productive conversation on how to fix this.

[2019-03-01 21:28] ofrobots commented on #208
This gRPC proposal should pave the way to a fix: https://github.com/grpc/proposal/pull/127.

[2019-03-03 00:40] steren opened #439 "google-gax is still 0.x"
The fact that `google-gax` has a 0.x version scares me because it is used as a dependency of many modules I rely on.

Furthermore, is seem that backward compatibility is often broken (e.g. it was between 0.17 and 0.16). I know that's expected from an 0.x version, but still, when will this module be a grown up?

CC @JustinBeckwith

[2019-03-04 02:58] danielcardeenas commented on #368
After fixing the constructor issue:
` UnhandledPromiseRejectionWarning: Error: google/datastore/v1/datastore.proto could not be found in \protos` I got the same issue as before

[2019-03-07 20:32] JustinBeckwith commented on #439
Good call out - we hear ya.  This is going to go 1.0 when node.js 6 goes EOL, and we set `grpc-js` as the default.

[2019-03-07 20:40] alexander-fenster commented on #439
To make it more specific, we are waiting for the following to get to 1.0:

- @types/grpc
- dependency inversion, so that client libraries supply their own gRPC implementation (compatible with @types/grpc). We may or may not have reasonable default (grpc-js) here on gax level (I vote for not having one)

[2019-03-07 20:40] alexander-fenster commented on #439
cc: @eoogbe

[2019-03-14 11:15] lostpebble opened #448 "Duplexify types are not working correctly since Typescript refactor"
#### Environment details

  - OS: Windows 10
  - Node.js version: 10.15.1
  - npm version: 6.4.1
  - `google-gax` version: 0.25.4

#### Steps to reproduce

  1. Update my `@google-cloud/datastore` dependency
  2. Use `allowSyntheticDefaultExports: true` and `esModuleInterop: true` in my code
  3. Get this error:

[code]

[2019-03-29 04:27] JustinBeckwith commented on #448
Pretty sure this was addressed in #458

[2019-03-29 04:27] #448 closed

[2019-04-10 21:49] callmehiphop opened #465 "Operations hanging indefinitely"
While trying to debug https://github.com/googleapis/nodejs-speech/issues/330, I ran into a scenario where the operation would finish but it did not contain any results or errors, causing the polling to go on indefinitely, which made my process hang.

[2019-04-17 17:48] hiranya911 opened #469 "Drop the dependency on google-proto-files in favor of something smaller"
This library currently has a dependency on `google-proto-files` NPM package which is about 11MB large. But it seems `google-gax` only really wants a small subset of these proto files:

https://github.com/googleapis/gax-nodejs/blob/3ba689b5a8dddfb694a41da3492c70e6af72201f/src/grpc.ts#L55-L66

The aggregate size of the above files is less than 1MB, which means users of `google-gax` are carrying arou

[2019-04-22 16:15] alexander-fenster commented on #469
This is a good suggestion. I support the idea of shipping the separate `google-proto-files-common` package consisting of only those protos that are shared across client libraries. It will also simplify the gax common protos logic that is quoted above: we would be able to use the whole `google-proto-files-common` package contents without specifically listing the proto files to use.

[2019-04-22 16:16] alexander-fenster commented on #469
An alternative to the above approach is pre-packing the required common files as a part of the gax package, just as we do with `google-proto-files`, which (given that no other package is going to use these common protos separately) might make sense as well.

[2019-04-23 03:46] hiranya911 commented on #469
Hi @alexander-fenster. Your second suggestion is the approach I've taken in #470

[2019-04-27 01:57] #469 closed

[2019-04-29 21:18] stephenplusplus commented on #141
I believe @ajaaym [found a solution](https://github.com/googleapis/nodejs-logging/issues/350#issuecomment-466108461):

[2019-04-29 21:18] #141 closed

[2019-04-29 23:27] tdanecker commented on #141
it didn't work in january, even when both env variables were set. but it might have been fixed in the meantime...

[2019-05-13 18:06] eoogbe commented on #465
@alexander-fenster Any updates?

[2019-05-13 18:12] alexander-fenster commented on #465
@eoogbe We have an internal issue tracking this Speech behavior (which is against the spec), but this issue should be closed by #436 which addresses this specific problem. I wonder if an old gax was used here - if not, it should be debugged further.

[2019-05-13 18:13] alexander-fenster commented on #465
@callmehiphop Can I ask you to double check if the code you were testing used gax that included #436? The original problem happens if the input file is silent or does not contain any speech to transcribe.

[2019-05-13 18:21] JustinBeckwith commented on #439
We're now 1.0 :)

[2019-05-13 18:21] #439 closed

[2019-05-15 01:03] stephenplusplus opened #497 "Still alpha?"
The README shows this library as Alpha. Since 1.0 just released, is that still true?

[2019-05-15 05:19] #497 closed

[2019-05-15 16:13] JustinBeckwith opened #500 "The ref docs are 404ing"
We have cross links in our generated libraries that point to this url:
https://googleapis.github.io/gax-nodejs/global.html

It looks like the ref docs for gax are down, which is super weird since they haven't been touched in years (heh, maybe a different problem) and github pages seems to still be enabled on the repo.

This is causing doc tests to fail on all PRs in generated libs:
https://source.

[2019-05-15 22:43] #500 closed

[2019-05-21 00:13] vchudnov-g commented on #465
@alexander-fenster Any updates?

[2019-05-23 11:26] CedWaro opened #511 "Exponential backoff retry strategy"
#### Environment details

  - OS: Windows 10 Home
  - Node.js version: 10.15.3
  - npm version: 6.4.1
  - `google-gax` version: 0.25.6 (old version but I don't think this part has been changed)

Hello,

1. It seems that the [https://cloud.google.com/storage/docs/exponential-backoff]() retry strategy implementation isn't "exponential" but rather "random".

At the moment, for the setTimeout duration

[2019-05-23 14:38] JustinBeckwith commented on #511
Greetings!  As of today, the `@google-cloud/storage` package doesn't use `google-gax`, as it's an HTTP based API 🙃   Can you share the code you're trying to use?

[2019-05-23 14:54] CedWaro commented on #511
I am using `@google-cloud/datastore 3.1.0` which uses `google-gax`

Thanks !

[2019-05-23 14:57] JustinBeckwith commented on #511
Great!  Can you share the code snippet you're trying?

[2019-05-23 15:48] CedWaro commented on #511
Yes,

I just make a save:

[code]

And the gax code used:

[code]

Thank you !

[2019-06-17 14:35] skjolber commented on #256
Ping

[2019-06-17 19:53] alexander-fenster commented on #256
@skjolber: just to make sure we're on the same page, this issue is about the _documenting_ the existing way of overriding the bundle options (see the code snippet by @ofrobots above). Is the lack of documentation the problem you're pinging me about :) or do you have some code that does not work?

[2019-06-17 20:14] skjolber commented on #256
@alexander-fenster well I could not make the @ofrobots clientConfigOverride work, but yeah, documentation will solve it for me. I spent some time searching before I bumped into this issue.

[2019-06-17 20:32] alexander-fenster commented on #256
Thanks for your clarification! I'll take a look to see if the override is still supposed to work, and document it in the client.

[2019-06-19 11:54] FrozenKiwi commented on #368
Hi, I'm facing the same(?) issue (Electron5).

google-gax:1.1.1
webpack:///<ProjectRoot>/node_modules/google-gax/build/src/grpc.js@line45
const googleProtoFilesDir = path.join(__dirname, '..', '..', 'protos');
resolves to "<ProjectRoot>/protos"

After a lot of searching I've traced the issue to Webpack:
https://stackoverflow.com/questions/43527016/dirname-is-not-working-in-node-js-with-webpack-bun

[2019-06-19 11:56] FrozenKiwi commented on #368
My actual error:

Uncaught (in promise) Error: error reading first path in the walk <ProjectRoot>\protos
Error: ENOENT: no such file or directory, lstat '<ProjectRoot>\protos'

[2019-06-19 22:40] schmidt-sebastian opened #520 "Escape header values before sending to GRPC"
HTTP header values can only contain ISO-8859-1 characters. Google-Gax should "percent-encode" header values that contain characters outside of this character range.

This would fix https://github.com/firebase/firebase-functions/issues/463 by correctly encoding [`parent`](https://github.com/googleapis/nodejs-firestore/blob/master/dev/src/v1/firestore_client.js#L1075).

[2019-06-19 23:44] schmidt-sebastian commented on #520
@alexander-fenster

[2019-06-20 03:17] #520 closed

[2019-06-20 03:18] JustinBeckwith commented on #465
@callmehiphop *nudges*

[2019-06-20 18:09] callmehiphop commented on #465
The issue that I referenced earlier seems to be closed now, so I'm going to assume that this is fixed. If it re-surfaces then I'll re-open this. Thanks all!

[2019-06-20 18:09] #465 closed

[2019-07-04 01:52] JustinBeckwith opened #531 "Use this as a replacement for nodejs-common-grpc"
Right now we have a lot of `common` layers:
- https://github.com/googleapis/nodejs-common/
- https://github.com/googleapis/nodejs-common-grpc/
- https://github.com/googleapis/gax-nodejs/

I suspect most of what's happening in nodejs-common-grpc could just be done here.  The only [dependents](https://www.npmjs.com/browse/depended/@google-cloud/common-grpc) of that library are logging, bigtable, and

[2019-07-22 22:55] grant commented on #448
I don't know if this is related, but I've been trying to debug an issue seemingly related using `googleapis@^41.0.1`:

[code]

[2019-07-22 22:57] JustinBeckwith commented on #448
`googleapis` doesn't take a dependency on `duplexify`, so this really shouldn't be an issue there.  Can you do an `npm ls duplexify` and see what's pulling it in?

[2019-07-22 23:01] grant commented on #448
Ah, should have tried that.
[code]
The culprit is `@types/google-cloud__tasks`, which I think I can avoid. Thanks.

[2019-07-22 23:03] grant commented on #448
I was using `@google-cloud/tasks` before, but it lacks TS support, so I switched to `googleapis`.

[2019-07-25 18:42] nervebassmaster opened #545 "User not authorized to perform this action. at Http2CallStream.call.on"
Got the following issue trying to send request to gcp pubsup:

[code]

[2019-07-25 18:45] JustinBeckwith commented on #545
Greetings!  Can you share more about your setup?
- What library are you trying to use?
- What version of the library are you using?
- Are you trying to use react, angular, now.sh, or some other sort of non-strictly nodejs environment?
- What version of node.js are you using?

[2019-07-25 18:47] nervebassmaster commented on #545
Sure thing

My deps are:
[code]

- I don't use any of react, angular, etc
- node version is v12.6.0

[2019-07-25 18:50] JustinBeckwith commented on #545
Awesome.  Could you share a code snippet that triggers the exception?

[2019-07-25 18:54] nervebassmaster commented on #545
JFYI: yarn says that pubsub depends on `google-gax "^1.0.0"`

My code is as follows:
[code]

[2019-07-25 19:04] JustinBeckwith commented on #545
So I suspect this is an issue with the permissions available to your service account.  Can you verify your service account has the `roles/pubsub.publisher` role?
https://cloud.google.com/pubsub/docs/access-control

[2019-07-25 19:07] nervebassmaster commented on #545
okay, much thanks!  I'll review and post any results to this topic :)

[2019-07-29 12:53] nervebassmaster commented on #545
@JustinBeckwith We've fixed the issue with pubsub using correct SA.
Much thanks for your help!

Gonna close the issue as far as the question is solved.

[2019-07-29 12:53] #545 closed

[2019-08-05 21:31] vchudnov-g commented on #208
@alexander-fenster and others: Any updates on this? We're out of SLO.

[2019-08-05 21:45] alexander-fenster commented on #208
I'm not sure (yet) if the linked gRPC metadata options are going to help in this particular case. TL;DR what happens is: with invalid service path or port, gRPC never reports a network error, but just keeps trying to connect forever. Someone (probably I) will need to investigate if the metadata options linked above should help change this, but I don't have any ETA for this right now.

[2019-10-15 15:45] stephenplusplus opened #626 "IPv6 Support"
RE: https://github.com/googleapis/nodejs-datastore/issues/502

@google-cloud/datastore needs to accept IPv6 endpoints from the Datastore emulator, and I believe we need to investigate if this library will support such addresses, including these formats:

- ::1
- [::1]:8744
- 2001:0db8:85a3:0000:0000:8a2e:0370:7334

[2019-11-04 20:40] bcoe opened #635 "export @grpc/grpc-js types used by @google-cloud/datastore"
@google-cloud/datastore currently ships a dependency on @grpc/grpc-js, for the benefit of types it exports, see:

[code]

This can put users in a position where they have multiple versions of `@grpc/grpc-js` installed, which creates debugging confusion (see: https://github.com/googleapis/nodejs-datastore/pull/526).

Perhaps we could export these types from `gax-nodejs`?

[2019-11-05 12:07] vitaliymashkov opened #636 "Rawresponse not being sent to the promise callback when pagination is not used"
I am using Talent-solution module for creating, updating and deleting Jobs. Also, in the meanwhile I am sending the client events as well, for which the request_id is required of the previous calls. But, when the API is being called without any pagination, the raw response is being sent back to the callback. Need this response in order to capture the request id.

Line that needs change - https://g

[2019-11-05 12:07] #636 closed

[2019-11-05 12:09] Shrek-DevMasterRobo opened #637 "Rawresponse not being sent to the promise callback when pagination is not used"
I am using Talent-solution module for creating, updating and deleting Jobs. Also, in the meanwhile I am sending the client events as well, for which the request_id is required of the previous calls. But, when the API is being called without any pagination, the raw response is being sent back to the callback. Need this response in order to capture the request id.

Line that needs change - https://g

[2019-11-05 20:45] bcoe commented on #637
@Shrek-DevMasterRobo :+1: thank you for the bug report; would happily accept a failing test if you have time :+1:

[2019-11-06 03:42] alexander-fenster commented on #637
Hi @Shrek-DevMasterRobo, just to confirm - you're getting all the resources in the same "page" but still want to have `rawResponse` there, right? That's surely possible but I'd like to know more about the use case - which call is it?

Also, if you don't need any auto-pagination at all and just need the response as is, pass `{ autoPaginate: false }` as an options object for your request.

[2019-11-06 06:15] vitaliymashkov commented on #637
Hi @alexander-fenster , yes I still wanted the `rawResponse`. This was the `Create Event` for Cloud talent solution, where in the request ID is required in order to make it better.

By using `{ autoPaginate: false }` in the options, I got the response as I wanted, that helped.

Thanks a lot @alexander-fenster !

[2019-11-06 06:24] Shrek-DevMasterRobo commented on #637
Hi @alexander-fenster , yes I still wanted the `rawResponse`. This was the Create Event for Cloud talent solution, where in the request ID is required in order to make it better.

By using `{ autoPaginate: false }` in the options, I got the response as I wanted, that helped.

Thanks a lot @alexander-fenster !

[2019-11-08 02:46] gae123 opened #642 "1.8.0 breaks our builds with "error TS1086: An accessor cannot be declared in an ambient context.""
We use google-gax because it is a dependency to other Gooble libraries. Suddenly about an hour ago our automated builds started failing with the following error. I am working around this with forcing a resolution to 1.7.5 in package.json for now....

[code]

[2019-11-11 11:46] pankajnegi1893 commented on #642
you get any solution for this ??

[2019-11-12 08:10] gberth commented on #642
Also had to go for 1.7.5 so interested on update of issue

[2019-11-14 08:41] gae123 commented on #642
The issue is this [commit](https://github.com/googleapis/gax-nodejs/commit/0ffe62b900e00463f7514956306b15de01b892d9#diff-b9cfc7f2cdf78a7f4b91a753d10865a2) I believe. 3.7.0 generates type ionformation that does not work witrh earlier versions of TS, we still use 3.5.3 and we will not move to 3.7 until angular does so, their latest release uses 3.5.3 and their release candidate uses 3.6

[2019-11-14 08:57] alexander-fenster commented on #642
Thank you folks for letting us know about the problem. We are discussing the problem internally and will let you know if we figure out the good way to go for the time being.

[2019-11-15 21:57] #642 closed

[2019-11-15 21:59] alexander-fenster commented on #642
Hi folks, we are going to release `google-gax` `1.11.1` that uses TypeScript `~3.6.0`. Hope it helps.

[2019-11-19 17:08] alexander-fenster commented on #208
We don't have plans to implement this in gax as of now so closing this. We'll reopen and reconsider if more users come with this problem.

[2019-11-19 17:08] #208 closed

[2019-11-27 03:37] failure-checker[bot] opened #674 "Warning: a recent release failed"
The release PR #666 is still in a pending state after several hours

[2019-12-09 22:13] alexander-fenster commented on #138
Closing - nobody uses it and we don't want to support it.

[2019-12-09 22:13] #138 closed

[2019-12-09 22:21] xiaozhenliu-gg5 commented on #133
We have system-tests cover the authentication. Close it.

[2019-12-09 22:21] #133 closed

[2019-12-13 00:08] #242 closed

[2019-12-13 00:24] #637 closed

[2019-12-13 00:26] alexander-fenster commented on #674
It's all fixed.

[2019-12-13 00:26] #674 closed

[2019-12-13 01:00] failure-checker[bot] opened #681 "Warning: a recent release failed"
The release PR #419 is still in a pending state after several hours

[2019-12-13 18:47] #511 closed

[2019-12-16 16:15] #681 closed

[2019-12-16 16:15] bcoe commented on #681
👋 I believe we tag gax, but don't publish. We need to add an exception to the rule that checks for failed releases.

[2019-12-16 17:00] failure-checker[bot] opened #684 "Warning: a recent release failed"
The release PR #546 is still in a pending state after several hours

[2019-12-17 16:33] #684 closed

[2019-12-17 17:01] failure-checker[bot] opened #685 "Warning: a recent release failed"
The release PR #460 is still in a pending state after several hours

[2019-12-19 03:35] jayp opened #1378 "Call options are not documented and non-obvious"
On https://googleapis.dev/nodejs/tasks/latest/v2.CloudTasksClient.html#createTask, what are `options`?

Following the link to https://googleapis.github.io/gax-nodejs/interfaces/CallOptions.html is of no help either.

I'd like to know what they mean and what are the defaults.

It seems `timeout` is in milliseconds. I've seen this fail a few times so I am somewhat confident that this is what it is.

[2019-12-26 21:57] #685 closed

[2020-01-02 09:43] amalshehu commented on #368
Having the same with @google-cloud/firestore.
[code]

[2020-01-14 12:08] yoshi-automation opened #709 "Synthesis failed for gax-nodejs"
Hello! Autosynth couldn't regenerate gax-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/c9a67de3-2540-4828-a553-47aa5fbae976).

[2020-01-15 12:41] yoshi-automation commented on #709
Autosynth passed, closing! :green_heart:

[2020-01-15 12:41] #709 closed

[2020-01-30 23:24] eng-dibo opened #719 "Can't resolve './operations_client_config'"
this error happens when compiling the code with typescript due to using
 `require('./operations_client_config')`
instead of
`require('./operations_client_config.json')`
in the file `google-gax/build/src/operationsClient`

please change it.

[2020-02-05 02:20] JustinBeckwith commented on #719
Greetings! Can you share a few more details?
- Are you directly trying to compile this code base from source?
- Or are you trying to use another library?
- Can you share your tsconfig?

[2020-02-05 20:49] eng-dibo commented on #719
please check this build error:
https://github.com/goblins-tech/almogtama3/runs/428364527?check_suite_focus=true

![7fecaafc-b3fa-4703-a5b9-22cd812bbc00](https://user-images.githubusercontent.com/57308531/73881746-94985a80-4869-11ea-9106-9c54319b90ba.png)

[2020-02-09 21:04] eng-dibo commented on #719
I think that this issue caused by ts-loader for webpack.
I tried your suggestion to add "resolveJsonModule": true but it didn't help me.

commit:
https://github.com/goblins-tech/almogtama3/commit/4a64591c432d8ef50f01cd1ef7682475926274bb

build:
https://github.com/goblins-tech/almogtama3/runs/434947403?check_suite_focus=true

[2020-02-16 16:08] eng-dibo commented on #719
any news?

[2020-02-16 17:00] JustinBeckwith commented on #719
Could I trouble you to answer the questions I asked above?  ☝️

[2020-02-20 15:34] stephenplusplus opened #726 "Allow setting `retry-request` options"
This library makes use of `retry-request` in streaming mode. However, retry-request allows options to be set which are not available through this library: https://github.com/googleapis/gax-nodejs/blob/82dfb83ca50535c48e0e31a43150e96c8e303077/src/streamingCalls/streaming.ts#L144

I'm not the best with this library -- @alexander-fenster, do you know how to make it possible so that from e.g. Bigtable

[2020-02-20 19:04] alexander-fenster commented on #726
I think we can add `retryRequestOptions` to gax options (your `combined` option above).

[2020-02-25 19:52] feywind opened #727 "Update grpc-js to 0.6.18 to fix retry issues in nodejs-pubsub (and elsewhere?)"
The recent fixes to grpc-js seem to have fixed some issues, and I'd like to pull those in as a minimum version here to get it into upstream clients.

https://github.com/googleapis/nodejs-pubsub/issues/890

PR coming shortly.

[2020-02-25 19:54] feywind commented on #727
@murgatroid99 Does it look okay to go ahead and update the versions?

[2020-02-25 20:19] schmidt-sebastian opened #729 "Stream retries"
The NodeJS Firestore SDK currently has some logic that tries to detect whether a stream is healthy. If an error occurs before a stream has received a response message, the Firestore SDK retries its idempotent streams transparently.

I would like to explore the option of adding this retry behavior directly to GAX, which would allow us to simplify the Firestore SDK, increase the reliability for all

[2020-02-26 19:28] bcoe commented on #729
is this a duplicate of: https://github.com/googleapis/gax-nodejs/issues/726

[2020-02-26 23:19] schmidt-sebastian commented on #729
#726 might be a prerequisite, but what I would like is for GAX to follow the retry behavior that is specified in our client config (https://github.com/googleapis/nodejs-firestore/blob/master/dev/src/v1/firestore_client_config.json#L70) automatically. Ideally, GAX would apply the same retry here as it does for request/response methods.

[2020-03-06 23:25] 8eecf0d2 commented on #719
@alexander-fenster @eng-dibo afaik the `"resolveJsonModule": true` typescript configuration is not required since it's a javascript file performing the import.

To resolve `.json` files with webpack you must add the extension to the [`resolve.extensions`](https://webpack.js.org/configuration/resolve/#resolveextensions) property in your webpack configuration.

[code]

Hope it helps.

[2020-03-07 03:30] tanishiking opened #741 "Add more information on "Retry total timeout exceeded before any response was received" error."
Hi, `gax-nodejs` team, I'd like to propose to add some more information on error message for ["Retry total timeout error"](https://github.com/googleapis/gax-nodejs/blob/4b9a35e509c5f617de3e2212cfa66aa75192f98a/src/normalCalls/retries.ts#L82-L89) so that GCP users can easily debug which GCP library and which API calls are hitting "retry total timeout" error.

(I've already contacted GCP Support Tea

[2020-03-27 14:38] eng-dibo commented on #719
@JustinBeckwith @alexander-fenster @8eecf0d2

yes, I use `ts-loader`

when I use ts-loade I get the following error:
[code]

without `ts-loader` I get the following error:
[code]

I already added `".ts"` to `resolve: { extensions: [".ts", ".js"] }`

please check my webpack settings (Angular-universal project)
https://github.com/goblins-tech/almogtama3/blob/master/webpack.server.config.js

[2020-03-27 19:23] 8eecf0d2 commented on #719
@eng-dibo please try adding `.json` to the array of extensions.

[2020-03-27 21:29] eng-dibo commented on #719
8eecf0d2 wirked, thank you

fixed by adding `.json` to `resolve.extensions`

[2020-03-28 17:00] failure-checker[bot] opened #769 "Warning: a recent release failed"
The release PR #766 is still in a pending state after several hours

[2020-04-14 06:17] zkenstein commented on #741
Faced some problem, any suggestions how to solved this

[2020-04-18 00:31] abhirathod commented on #741
@tanishiking :
I am also facing the similar issue for Publishing PubSub messages in bulk.
Did you get any solution to this problem?
If any, please share.

[2020-04-21 19:24] build-cop-bot[bot] opened #810 "Mocha Tests: "after all" hook for "should perform asymmetric verification" failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 6845f3f2c3b1b6c16f144359ba97392ee210923c
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-21 19:24] build-cop-bot[bot] opened #811 "Mocha Tests: should pass samples tests failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 6845f3f2c3b1b6c16f144359ba97392ee210923c
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-22 04:16] #811 closed

[2020-04-23 07:59] yossi-eynav commented on #741
@hkdevandla  @alexander-fenster  can you please assist?
we're facing the same problem while using  node-tasks -
https://github.com/googleapis/nodejs-tasks/issues/397

[2020-04-23 16:08] yossi-eynav commented on #741
when cloud-tasks uses gax-nodejs fallback we get no errors, when we use the regular flow we get many "4- DEADLINE_EXCEEDED" errors - can you share some more info about that?

[2020-04-23 18:35] alexander-fenster commented on #741
Folks, let's not bring different problems into the same issue. This particular issue asks to add library name to the valid "total timeout exceeded" error messages so that the users knew which API hit the timeout from the error message.

@yossi-eynav If you folks are getting a lot of deadline exceeded errors in `nodejs-tasks` with gRPC but not getting it with HTTP fallback that's surely something d

[2020-04-25 08:33] merlinnot opened #818 "Excessive number of pre-releases ♾️"
I'm just posting it to make sure some Googler will notice that something is wrong with pre-releases: https://github.com/googleapis/gax-nodejs/releases.

[2020-04-29 14:19] mvergarair commented on #741
I'm having the same problem for PubSub, did you find a fix?

[2020-04-29 15:09] tanishiking commented on #741
As @alexander-fenster mentioned, this issue just asked to add the library name or some actionable information on error massages so that users can easily debug the error.
This is not a bug report, and I think here's not the right place to ask about the errors around the GCP products or libraries.

FYI @abhirathod @mvergarair
In my case, the root cause of the error is just I forgot to add an `await`

[2020-04-29 15:41] mvergarair commented on #741
@tanishiking thanks! That was it, wasn't handling promises correctly. (Sry for commenting here)

[2020-04-29 20:33] hkdevandla commented on #810
@alexander-fenster , can you take a look?

[2020-04-29 20:37] hkdevandla commented on #818
@alexander-fenster , can you please take a look?

[2020-04-29 20:44] merlinnot commented on #818
It actually stopped on Monday, after beta.109 😄

[2020-04-29 20:46] alexander-fenster commented on #818
That was a failure of the pre-release script. @bcoe this is amazing right? :)

![image](https://user-images.githubusercontent.com/4015807/80645260-b8f67400-8a1f-11ea-893e-0bc1b511b3e7.png)

Unpublishing versions from NPM is an extreme thing, so I'm not sure what's the right way to go here. @bcoe maybe it's not too late to delete the extra ones if we do it now? (I think the time limit is 3 days and

[2020-04-29 20:48] alexander-fenster commented on #818
I will write a quick script to remove releases from GitHub. Should be faster than clicking through all the hundred :)  Thank you for noticing this @merlinnot!

[2020-05-04 10:49] kaminskypavel commented on #719
@8eecf0d2 was on point!

I've been dealing with the same error with Jest (+ts-jest), and it did the trick!

[code]

[2020-05-04 22:38] alexander-fenster commented on #810
All tests pass. If this repeats, might mean it's flaky, then we'll take a look and fix.

[2020-05-04 22:38] #810 closed

[2020-05-13 12:48] yoshi-automation opened #822 "Synthesis failed for gax-nodejs"
Hello! Autosynth couldn't regenerate gax-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/24b91e22-5723-4d3d-ad6a-192d8c1a7079).

[2020-05-14 13:37] yoshi-automation commented on #822
Autosynth is still having trouble generating gax-nodejs. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ea51e8ba-def4-460f-9acd-a09a559fce5d).

[2020-05-14 23:12] yoshi-automation commented on #822
Autosynth is still having trouble generating gax-nodejs. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/30e633c5-055b-437c-9be8-8b2a9ed80d0d).

[2020-05-15 00:46] chingor13 commented on #822
Autosynth is still having trouble generating gax-nodejs. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/None).

[2020-05-15 00:53] chingor13 commented on #822
Autosynth passed, closing! :green_heart:

[2020-05-15 01:03] yoshi-automation commented on #822
Autosynth passed, closing! :green_heart:

[2020-05-15 01:03] #822 closed

[2020-05-15 07:46] amiller-gh opened #826 "Error [ERR_STREAM_PUSH_AFTER_EOF]: stream.push() after EOF"
#### Environment details

  - OS: Mac OS Catalina
  - Node.js version: 12.13.0
  - npm version: 6.12.0
  - `google-gax` version: >=1.0.0
  - Electron version: 8.2.5

#### Steps to reproduce

With the above environment, and using `@google-cloud/firestore>=2.0.0` (via `firebase-admin>=8.0.0`) calls to Firebase that fetch *multiple* updated documents from a collection:

[code]

 fail with:

[code]

I

[2020-05-15 17:26] SurferJeffAtGoogle opened #827 "Synthesis failed for gax-nodejs"
Hello! Autosynth couldn't regenerate gax-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/None).

[2020-05-15 18:01] yoshi-automation commented on #827
Autosynth passed, closing! :green_heart:

[2020-05-15 18:01] #827 closed

[2020-05-20 11:53] orgads opened #829 "Build fails with several "property X does not"
#### Environment details

  - OS: Windows 10 and Debian testing
  - Node.js version: 12
  - npm version: 6.14.4
  - `google-gax` version: 90034ce6a8c9b635942fedb23345105264979416

#### Steps to reproduce

`npx tsc -p .`
(or `npm install` which invokes it)

[code]

[2020-05-20 12:11] yoshi-automation opened #830 "Synthesis failed for gax-nodejs"
Hello! Autosynth couldn't regenerate gax-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/1d96130f-887f-4822-a400-bff75bdfb430).

[2020-05-20 20:38] hkdevandla commented on #826
@alexander-fenster , can you please take a look? thanks!

[2020-05-20 21:12] alexander-fenster commented on #826
@amiller-gh The main difference between gax 0.26.0 (man that's an old one) and the current one is the version of `@grpc/grpc-js` used. A _lot_ has happened between `@grpc/grpc-js` v0.3.0 and v1.0.3.

@murgatroid99 do you have any idea about the `stream.push() after EOF` error in the stack above?

[2020-05-20 23:36] murgatroid99 commented on #826
This looks a lot like grpc/grpc-node#752, but I thought I fixed that with grpc/grpc-node#766, which was published in `@grpc/grpc-js` version 0.3.6. That code has since been rewritten, though, so it is possible that there has been a regression.

[2020-05-21 11:12] yoshi-automation commented on #830
Autosynth passed, closing! :green_heart:

[2020-05-21 11:12] #830 closed

[2020-05-27 20:34] hkdevandla commented on #829
Alex, can you take a look? thanks!

[2020-05-27 20:52] alexander-fenster commented on #829
This should be fixed by #831, caused by TypeScript compiler update that broke things.

[2020-05-27 20:52] #829 closed

[2020-05-29 01:01] failure-checker[bot] opened #836 "Warning: a recent release failed"
The release PR #835 is still in a pending state after several hours

[2020-05-29 11:12] yoshi-automation opened #838 "Synthesis failed for gax-nodejs"
Hello! Autosynth couldn't regenerate gax-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/e6cd6a91-31ba-4151-958e-270932bab16f).

[2020-05-30 11:11] yoshi-automation commented on #838
Autosynth is still having trouble generating gax-nodejs. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/1d5e60e7-140e-4e3a-a1d3-c10212a4b176).

[2020-05-31 11:11] yoshi-automation commented on #838
Autosynth is still having trouble generating gax-nodejs. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/caac78a0-8efc-45a0-9271-644becae9ccb).

[2020-06-01 11:12] yoshi-automation commented on #838
Autosynth is still having trouble generating gax-nodejs. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/ce173868-0f59-4462-8945-36e31f9c6542).

[2020-06-01 18:02] miraleung commented on #838
@alexander-fenster or @xiaozhenliu-gg5, could you PTAL?

[2020-06-01 18:19] alexander-fenster commented on #838
Looking

[2020-06-01 18:32] alexander-fenster commented on #838
Release of v2.4.1 has failed which caused synth failures:

[code]

I released v2.4.1 manually.

[2020-06-01 18:32] #838 closed

[2020-06-01 18:32] alexander-fenster commented on #836
Released manually.

[2020-06-01 18:32] #836 closed

[2020-06-01 21:12] xiaozhenliu-gg5 commented on #719
Close the bug since the problem was resolved by adding `.json` to `resolve.extensions`.

[2020-06-01 21:12] #719 closed

[2020-06-01 21:15] xiaozhenliu-gg5 commented on #160
This is duplicate of #256 the dynamic override of bundle config is to be confirmed.

[2020-06-02 06:10] alexander-fenster commented on #160
It works, just needs to be documented properly. [This gist](https://gist.github.com/alexander-fenster/883347a958d529c5b8a5289132b92e45) shows how it can be overwritten.

[2020-06-02 06:13] alexander-fenster commented on #727
This is out of date and should be closed. We use `@grpc/grpc-js` v1.0.0+.

[2020-06-02 06:13] #727 closed

[2020-06-02 08:56] alexander-fenster commented on #818
I removed those releases from GitHub (but not from NPM since it was too late and they did not allow that :) )

[2020-06-02 08:56] #818 closed

[2020-06-02 18:04] xiaozhenliu-gg5 commented on #256
@alexander-fenster has confirmed that the bundling options can be set from users side, we will update the documents to include those steps. Thanks

[2020-06-02 22:50] #741 closed

[2020-06-03 05:38] eng-dibo opened #844 "Can't resolve './operations_client_config'"
using firebase admin in an Angular9 project with Ivy-enabled causes this error
[code]

in Angular9 we don't have a direct access to webpack config.

I temporary solved this issue by adding '.json' to `const configData = require('./operations_client_config')` but it is not good to modify a node_module file.

[2020-06-03 05:43] #844 closed

[2020-06-03 05:47] eng-dibo opened #845 "ERROR in ./node_modules/google-gax/build/src/operations_client_config 2:14"
I'm using firebase admin sdk in an Angular9 project (ivy-enabled) but when I build the project I got the following error

[code]

in Angular9 we don't have a direct access to webpack, (in previous versions of Angular all solutions with webpack failed to solve this issue)

[2020-06-03 16:01] eng-dibo commented on #845
solved by adding node_modules to webpack.externals

[2020-06-03 16:01] #845 closed

[2020-06-03 23:42] murgatroid99 commented on #826
I have published `@grpc/grpc-js` version 1.0.5 with a change that seems to fix this issue.

[2020-06-03 23:58] alexander-fenster commented on #826
@amiller-gh Can you verify that the latest `@grpc/grpc-js` helps? (it's a direct dependency of `google-gax`, you can just reinstall the packages without using a lock file and make sure that `npm ls @grpc/grpc-js` shows version 1.0.5)

[2020-06-04 18:20] #160 closed

[2020-06-04 18:48] amiller-gh commented on #826
Can confirm that 1.0.5 fixes my issues! Thanks all 👍

[2020-06-04 18:49] alexander-fenster commented on #826
Thanks @amiller-gh for checking!

[2020-06-04 18:49] #826 closed

[2020-06-04 22:22] build-cop-bot[bot] opened #848 "Mocha Tests: should pass samples tests failed"
Note: #811 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: ff241deba2f2a679fa7ae7b2a571f19a42803a8d
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4c56774d-397b-43d1-8dbe-bb7cfa2c881b), [Sponge](http://sponge2/4c56774d-397b-43d1-8dbe-bb7cfa2c881b)
status: failed
<details><summary>Test output</summary><br><pre

[2020-06-08 21:22] #848 closed

[2020-06-24 10:44] kramarz opened #859 "Raise structured Errors instead of JSON strings in fallback client."
When using regular grpc client on error we get ServiceError with all metadata assigned as attributes:
https://github.com/grpc/grpc-node/blob/master/packages/grpc-js/src/call.ts#L79

In fallback client we are only getting Error with JSON string as message:
https://github.com/googleapis/gax-nodejs/blob/master/src/fallback.ts#L337

To be able to handle different errors differently it would be conveni

[2020-07-10 23:32] #859 closed

[2020-07-15 02:14] bcoe opened #873 "feat: add back helper for generating "parent" path"
In `v3` of the translate API, we are requiring that folks generate a full parent path when interacting with the API:

[code]

This is fairly unwieldy, and we should reintroduce a helper for this.

CC: @alexander-fenster, @nnegrey

[2020-07-15 02:14] JustinBeckwith commented on #873
Moving this over to gax since I suspect this would need to be fixed there?

[2020-07-16 00:54] alexander-fenster commented on #873
I guess it's the gapic-generator-typescript and maybe it's just a dup of https://github.com/googleapis/gapic-generator-typescript/issues/570, but I'll take a look anyway.

[2020-07-20 19:02] #726 closed

[2020-08-06 11:08] yoshi-automation opened #885 "Synthesis failed for gax-nodejs"
Hello! Autosynth couldn't regenerate gax-nodejs. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/76bb7f6f-4d47-4888-b0d2-a8761a276cc8/targets/github%2Fsynthtool;config=default/tests;query=gax-nodejs;failed=false).

[2020-08-06 18:10] yoshi-automation commented on #885
Autosynth passed, closing! :green_heart:

[2020-08-06 18:10] #885 closed

[2020-08-16 11:53] zees-dev commented on #368
Similar issue with `firebase-admin`
Using webpack to compile a simple typescript file:
[code]

This is the error seen in terminal (when locally serving cloud function via `firebase emulators:start --only functions`):
[code]

[2020-08-18 18:01] shaunwarman opened #888 "Error: SELF_SIGNED_CERT_IN_CHAIN undefined: Getting metadata from plugin failed with error: request to https://www.googleapis.com/oauth2/v4/token failed"
Looks like issues that started at 12:30 CT about a self signed cert in chain when interacting with cloud datastore. This was a cron job that runs every minute and has been running for months.

1) Is this a client library issue or a product issue?
Client library issue

2) Did someone already solve this?
 No

3) Do you have a support contract?
Please create an issue in the [support console](https://

[2020-08-19 05:19] #888 closed

[2020-08-19 05:21] shaunwarman commented on #888
No idea still, but assuming some bad CI job or hidden proxy

[2020-09-10 13:44] AVaksman opened #897 "Allow users to set retryCodes and backoffSettings separately."
This can be utilized by using already existing [`mergeRetryOptions`](https://github.com/googleapis/gax-nodejs/blob/3c3c689266e6ff2446408daffa9d3848d72bcb57/src/gax.ts#L510) function while [merging](https://github.com/googleapis/gax-nodejs/blob/3c3c689266e6ff2446408daffa9d3848d72bcb57/src/gax.ts#L218) settings with user provided callOptions during [createApiCall](https://github.com/googleapis/gax-n

[2020-09-14 12:27] Daggy1234 opened #899 "Node Fetch is Vulnerable"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue or a product issue?
This is the client library for . We will only be able to assist with i

[2020-09-17 11:58] skuruppu opened #902 "`timeout_millis` is ignored if retry settings are provided"
The Spanner team has recently been through an effort to make the timeout and retry settings consistent across all client library languages. The result of which is now in [spanner_client_config.json](https://github.com/googleapis/nodejs-spanner/blob/6e1f300ebe31027eb1f2922facb70bb0ba392b11/src/v1/spanner_client_config.json).

We need to set different `timeout_millis` for each RPC method. But we als

[2020-09-17 18:36] alexander-fenster commented on #902
Hi @skuruppu,

We at ACTools are considering implementing a new (simpler) "logical timeout" logic this month and this code will likely be changed and/or rewritten. I'll work on this refactor. Thank you for mentioning your new Spanner config, I'll make sure it's processed correctly with my changes.

[2020-09-17 18:52] #899 closed

[2020-09-17 22:48] AVaksman commented on #902
`initial_rpc_timeout_millis` is an optional parameter and is used in place of `timeout_millis` when `retry_codes` are provided.

With changes from #896 (when 2.8.1 is released) a workaround would be to not to provide `initial_rpc_timeout_millis` in the config file, then the `settings.timeout` value will default to `timeout_millis` value which is separately provided for each method in the config fi

[2020-09-18 06:36] hengfengli commented on #902
[spanner_client_config.json](https://github.com/googleapis/nodejs-spanner/blob/6e1f300ebe31027eb1f2922facb70bb0ba392b11/src/v1/spanner_client_config.json) is only used by nodejs and is generated from [grpc_service_config.json](https://github.com/googleapis/googleapis/blob/master/google/spanner/v1/spanner_grpc_service_config.json). If we can change the generator to not generate `initial_rpc_timeout

[2020-09-21 15:55] AVaksman commented on #902
`totalTimeoutMillis` => `deadline`
`maxRpcTimeoutMillis` => `maxTimeout`
`timeout_millis` => `timeout`

The smaller value will be used

https://github.com/googleapis/gax-nodejs/blob/d05bd2c3b01aa00c234bd0b3ed04223596220d6f/src/normalCalls/retries.ts#L120-L124

[2020-09-21 23:38] hengfengli commented on #902
But we expect the `timeout_millis` should be respected, e.g., `ExecuteStreamingSql`'s timeout should be `3600`s, instead of a smaller value.

[2020-11-03 03:12] alexander-fenster opened #927 "Decode error metadata into some readable format"
Right now, the error details from the service are hidden in the error metadata and I'm pretty sure users never see them (let alone decoding them). We need to present them in some readable form.

Example of the current metadata content as returned by `err.metadata.getMap()`:

[code]

[2020-11-04 02:20] jgcmarins opened #928 "Cannot read property 'charCodeAt' of undefined at peg$parsetemplate"
1) Is this a client library issue or a product issue?
This is a client library issue I found by just following the documentation for [exporting cloud firestore data](https://cloud.google.com/firestore/docs/solutions/schedule-export).

2) Did someone already solve this?
No

3) Do you have a support contract?
No

#### Environment details

  - OS: Cloud Function
  - Node.js version: 10
  - npm versio

[2020-11-04 02:44] jgcmarins commented on #928
Just found out that the suggested code snippet was using `process.env.GCLOUD_PROJECT`, but it was null, even on GCP environment. Weird.

[2020-11-04 02:44] #928 closed

[2020-11-05 09:24] HNicolas opened #1460 "SubscriberClient.testIamPermissions invalid return type"
https://github.com/googleapis/nodejs-pubsub/blob/db1f69c4aac5b3abfea12f70d45ceb8b7c957388/src/v1/subscriber_client.ts#L2186

It seems that there is an error in `SubsriberClient.testIamPermissions` method return type. It says that the return type is `IamProtos.google.iam.v1.TestIamPermissionsResponse` but the method returns an array where the first element is `IamProtos.google.iam.v1.TestIamPermiss

[2020-11-10 11:57] HNicolas opened #1430 "Invalid IPubsubMessage.data type"
https://github.com/googleapis/nodejs-pubsub/blob/76db007f270a646e8570768fa827ea2a97b62cbc/protos/protos.d.ts#L441

`IPubsubMessage.data` type seems to be `Buffer` and it is typed as `UInt8Array|string`.

[2020-11-18 21:00] hkdevandla commented on #927
Hi Alex, can you also triage this issue i.e assign right priority and type as it triggered OO-SLO? Thanks!

[2020-11-19 01:59] alexander-fenster commented on #927
Done!

[2020-11-24 08:48] braj1999 opened #935 "CVE-2020-7774 vunerablity in y18n"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

The `google-gax` is using

[code]

which is internally referring to `yargs` and `yargs` is referring to `y18n`

[code]

there is a vulnerability reported here https://cve.mitre.org/cgi-bin/c

[2020-11-25 05:06] braj1999 commented on #935
Please see this response from `grpc` - https://github.com/grpc/grpc-node/issues/1639#issuecomment-733125238

[2020-11-26 12:12] braj1999 commented on #935
Any update on this. Can this vulnerability be addressed please ASAP?

[2020-11-27 14:25] danieldanielecki commented on #368
Very weird, got it on one of my `Firebase`/`Cloud Functions for Firebase` projects. Then I've upgraded

from

[code]

to

[code]

And it removed the error, however putting this back to the old versions didn't cause the error to pop up again... Super weird, but works on `Node 10` and Node 12` within the Firebase`/`Cloud Functions for Firebase` environment.

[2020-11-28 05:36] JustinBeckwith commented on #368
Greetings folks!  Please file a new issue on firebase GitHub repo, or this is very likely to get lost :)

[2020-12-01 04:26] braj1999 commented on #935
I think this PR should help us - https://github.com/googleapis/gax-nodejs/pull/934

[2020-12-01 17:40] bcoe commented on #935
@braj1999 if you update your `package-lock.json`, or perform a fresh install, you will get `y18n@4.0.1` which has the fix:

[code]

[2020-12-01 17:47] bcoe commented on #935
@braj1999 leaving this open, @alexander-fenster thinks we should explicitly update to version `1.2.0` of gRPC, even though out tree no longer has `4.0.0` of y18n.

[2020-12-01 17:50] alexander-fenster commented on #935
I have just merged #934. The updated version of google-gax will be released tomorrow.

[2020-12-01 17:50] #935 closed

[2021-01-05 23:08] #897 closed

[2021-01-06 03:00] failure-checker[bot] opened #942 "Warning: a recent release failed"
The following release PRs may have failed:

* #940

[2021-01-07 09:22] flaky-bot[bot] opened #943 "Run system tests for some libraries video-intelligence: "before all" hook for "should pass system tests" failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: eed447fdbac1340109b2bfc0d50460cc1c790f6b
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2021-01-09 00:00] #942 closed

[2021-01-17 09:33] flaky-bot[bot] opened #945 "SpeechClient system test v1: calls longRunningRecognize failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: eed447fdbac1340109b2bfc0d50460cc1c790f6b
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2021-01-17 09:33] flaky-bot[bot] opened #946 "Run system tests for some libraries speech: should pass system tests failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: eed447fdbac1340109b2bfc0d50460cc1c790f6b
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2021-01-19 16:29] curvedriver opened #947 "fast-text-encoding usage breaks compatibility with Emscripten based libaries"
**Environment details:**

OS: Linux
node: 10.23.1
npm: 6.14.10

- @google-cloud/translate: 6.1.0
which requires version `^2.9.2` of  `google-gax`

**Description:**

`google-gax 2.10.0` introduced `fast-text-encoding`, which breaks the compatibility with Emscripten based libaries.

https://github.com/googleapis/gax-nodejs/blob/eed447fdbac1340109b2bfc0d50460cc1c790f6b/src/fallback.ts#L22

**Error**

[2021-01-21 11:25] elyobo opened #948 "webpack bundled node versions fails with `ENOENT: no such file or directory, open 'iam_service.json'`"
This is occurring when bundling `@google-cloud/pubsub`, however the underlying issue is with this library.

Not that I can see.

No.

#### Environment details

  - OS: Linux
  - Node.js version: v12.14.1
  - npm version: v6.14.8
  - `google-gax` version: google-gax@2.10.0

#### Steps to reproduce

Edit: A minimal reproduction has been provided at https://github.com/elyobo/gax-node-948-repo, origin

[2021-01-21 13:07] forking-renovate[bot] opened #949 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-22 20:47] alexander-fenster commented on #948
Thank you for the report. I'll hope to take a look at this next week. A few questions for you:
- are you bundling it with `target: 'node'`? This is not for any kind of browser usage, right?
- do you use any of the IAM service calls in your code? (if not, you might be able to use `null-loader` to ignore everything related to IAM as a quick fix)

[2021-01-23 02:29] elyobo commented on #948
Thanks @alexander-fenster, appreciate any assistance you can give here.

Yes, it's being bundled with `target: 'node'`. The usage in this case is via `@google-cloud/pubsub` with a service account identified by JSON credentials.

I don't directly call any IAM stuff, but I did notice that the PR that added this stuff was explicitly noting that PubSub was one of the libraries that used it and so I'm

[2021-01-26 03:45] alexander-fenster commented on #902
(going back to this old issue - apologize for its slipping through my fingers!)

@skuruppu @hengfengli With the gax version with Alex's fixes released, do you folks still need changes here in this logic?

The "logical timeout" refactor that I mentioned earlier in this issue got postponed but will still happen sooner or later, I would probably not want to make any major changes to the current timeo

[2021-01-28 23:50] alexander-fenster commented on #945
Closing for now, waiting for repro

[2021-01-28 23:50] #945 closed

[2021-01-28 23:50] alexander-fenster commented on #946
Closing for now, waiting for repro

[2021-01-29 00:34] alexander-fenster commented on #943
All tests do pass.

[2021-01-29 00:34] #943 closed

[2021-01-29 00:44] alexander-fenster commented on #947
Hi @curvedriver,

Thank you for your report. Our main target is Node.js (which has both `TextEncoder` and `TextDecoder` starting from v11.0.0). I will try to fix it just as in https://github.com/googleapis/google-auth-library-nodejs/pull/627 but since we must support Node v10 (which has no global `TextDecoder`), the logic will probably be a little bit uglier than that.

As soon as Node v10 goes EO

[2021-01-29 01:21] alexander-fenster commented on #948
Thank you, I reproduced the problem.  The bad thing here is that it's not just about the IAM JSON - even if you comment out all references to `this.iamClient` from `node_modules/\@google-cloud/pubsub/build/src/v1/subscriber_client.js` and `node_modules/\@google-cloud/pubsub/build/src/v1/publisher_client.js`, it will fail in pretty much the same way being unable to load PubSub's own proto JSON file

[2021-01-29 01:21] alexander-fenster commented on #948
(marking as "feature request" because we don't officially support this use case, but we definitely need to have this sorted out)

[2021-01-29 01:31] elyobo commented on #948
Thanks,

I tried hard coding the fallback option in earlier and ran into other
issues, but I have another workaround in mind: I’ll try bundling my app as
a library and then calling it from an unbundled launcher which will pass in
the unbundled version of the library. Should be straightforward as the app
already passes though external dependencies like this from the top to
simplify mocking during t

[2021-01-29 01:31] elyobo commented on #948
If it doesn’t I’ll investigate the other options you’ve suggested - thanks!

On Fri, 29 Jan 2021 at 11:30, Liam O'Boyle <liam@elyobo.net> wrote:

[2021-01-29 01:34] #946 closed

[2021-01-29 11:11] skuruppu commented on #902
Thanks for getting back to us @alexander-fenster.

I think even with Alex's fixes, it would still mean that we have to remove `initial_rpc_timeout_millis` from the config. But this is not possible to do just for Node.js since other languages use this value for a different purpose and we'll be then changing the settings across all languages.

Sorry if I misunderstood something.

[2021-01-29 21:20] elyobo commented on #948
And  looking at that option, I realised that there is a much more simple solution :facepalm:

Webpack allows [marking dependencies as external](https://webpack.js.org/configuration/externals/#externals), so that they're not bundled at all. This can be easily be achieved en masse with the [`webpack-node-externals`](https://www.npmjs.com/package/webpack-node-externals) package.

An example is [inclu

[2021-01-29 21:20] #948 closed

[2021-01-30 00:32] alexander-fenster commented on #948
Thanks @elyobo! It's something I never knew about webpack, and it makes perfect sense for bundling a backend application.

[2021-02-01 07:25] chrisjacobs91 commented on #928
@jgcmarins I'm getting this same error after upgrading this backup function to Node10.

How did you fix it?

[2021-02-01 07:28] chrisjacobs91 commented on #928
https://github.com/googleapis/nodejs-automl/issues/107#issuecomment-668295771

ah, according to this best option is to hardcode the project name. 👍

[2021-02-02 04:44] alexander-fenster commented on #947
@curvedriver The latest released version (v2.10.2) should have this problem fixed. Could you double check if it works for you? Thank you!

[2021-02-02 10:28] curvedriver commented on #947
Hi @alexander-fenster
Thanks for processing this issue so quickly!
Unfortunately, the reported error still happens in my case because I'm using nodejs `10.23.1`.

What do you think about mapping the `util.TextDecoder` and `util.TextEncoder` to the global scope?

[code]

I didn't found any API changes of the `TextEncoder` & `TextDecoder` between `node 10` & `11`.

Do you think that there would any

[2021-02-03 01:54] alexander-fenster commented on #947
@curvedriver I thought of doing it, and the only side effect here is that the browser bundlers (the main audience of `src/fallback.ts`) will probably start bundling Node.js `util` polyfill even if the `require` is within the conditional statement. I just checked it with `webpack`, the bundle size increased from 399K to 407K when I added `require('util')`.

Well, maybe these 8K is not a big deal th

[2021-02-03 06:44] elyobo commented on #948
@JustinBeckwith was there something more you wanted me to do with this?

![image](https://user-images.githubusercontent.com/407806/106708739-7cf3dd80-6647-11eb-8973-661e118429d2.png)

[2021-02-03 08:33] alexander-fenster commented on #948
@elyobo Sorry, that's a bit of housekeeping that we're doing across all our repositories, and sometimes the automation does weird things. We don't expect anything from you here :)   (I reassigned the issue to myself in hope that the bots will be happy with that)

[2021-02-12 01:14] #947 closed

[2021-02-15 13:09] kramarz opened #962 "Allow to decide if to retry based on error message"
**Is your feature request related to a problem? Please describe.**
Getting error like:
[code]

I want to be able to retry such error, but not all INTERNAL errors.
 **Describe the solution you'd like**
Allow to specify custom shouldRetryFn function that could return True if error message contains certain phrase.
this function would be part of [RetryOptions](https://github.com/googleapis/gax-nodejs/

[2021-03-02 09:27] alexander-fenster commented on #962
I feel very strongly that this is a wrong solution for the problem. It will definitely put out the fire, and it will hide the real problem behind those `13 INTERNAL` errors.

I don't want to block on this, and I believe the `13 INTERNAL` affects not only Node.js libraries, but other languages as well. I suggest discussing this with gRPC team first (Cc: @murgatroid99).

[2021-03-02 18:12] murgatroid99 commented on #962
I agree that this is the wrong solution to the problem. The right solution is for the gRPC library to report UNAVAILABLE instead of INTERNAL for these errors, if I can find a way to isolate the correct subset of these errors that are connection errors and not other kinds of internal errors.

[2021-03-02 22:15] crwilcox commented on #962
"gRPC library to report UNAVAILABLE instead of INTERNAL for these errors,"

Isn't this a different error type. While "It is currently possible to retry all errors with INTERNAL code" is stated I am not sure that is true. it is possible the backend had an error after altering state for instance.

[2021-03-02 22:20] murgatroid99 commented on #962
I meant "these errors" in a very narrow sense here, referring to the error messages ending with "triggered by internal client error: read ECONNRESET". Those indicate that the connection was dropped while waiting for a response, and `UNAVAILABLE` is the appropriate code for that.

In fact, I just published `@grpc/grpc-js` version 1.2.9 with a speculative fix that might make that change I just descr

[2021-03-02 22:43] crwilcox commented on #962
Do we know that while waiting for response nothing else occurred? We have traced issues returned under 13 RST_STREAM to be an abort on the backend. In the most recent instance we have found cases where it would be accurate to report UNAVAILABLE, I am just not sure how generally that could be applied.

If we can be sure that no change occurred as part of the request, making it clear it is safe for

[2021-03-03 01:17] murgatroid99 commented on #962
No, you can't be sure about that here. This error happens when you lose the connection to the server. By definition, you don't know what the server did after that.

[2021-03-03 08:44] kramarz commented on #962
By "It is currently possible to retry all errors with INTERNAL code" I meant that we could just create client overriding some settings to retry INTERNAL errors.
[code]
We don't want to do that.

Thank you for releasing `@grpc/grpc-js` changing these errors to `UNAVAILABLE` I will check if that would solve this issue.

There is one problem with these error codes that I hoped my approach would addre

[2021-03-03 08:54] murgatroid99 commented on #962
Can you share other error messages you are seeing that you think should be retried? If there is a pattern there, it may warrant further modifications to grpc-js.

[2021-03-03 09:24] kramarz commented on #962
My answer to that would be that I was not thinking of anything specific, but I wanted to add flexibility for user to decide on case by case basis. Adding such function would for example allow user to do some calculation if they can afford to retry or not. But let me check if there are any other generally retriable error messages.

[2021-03-03 12:20] sandrom commented on #962
@murgatroid99 It was the only error to my knowledge, but I asked for double-checking on that.

I get that there are 2 sides to this:
Long Term it's certainly best to export the error codes that matter so you can handle them where necessary, so when it comes to the "good solution" I agree with you.

On the other hand, we all know that often enough we need to be able to override where possible as ma

[2021-03-05 16:48] Bastianowicz opened #965 "google-gax Cannot find name 'Long'"
- OS: ubuntu-20.04 Version: 20210302.0
  - Node.js version: 14
  - npm version: 7.6.0
  - `google-gax` version: google-gax@2.10.3

#### Steps to reproduce

  1. create a new bare project
  2. `npm i firebase-admin@9.5.0` (which is latest at the moment
  3. create a typescript file and import firebase-admin `import admin from "firebase-admin";`
  4. build the typescript project

### Expected

Build

[2021-03-05 17:06] Bastianowicz commented on #965
i could also reproduce the same thing with importing google-gax as only dependency and current version ^2.10.3 as well. attaching the repo.
[repo2.zip](https://github.com/googleapis/gax-nodejs/files/6092054/repo2.zip)

[2021-03-06 17:36] bicrypt commented on #965
I have encountered the same issue!

Node: v14.16.0
TS: 4.2.3

[2021-03-06 17:56] bicrypt commented on #965
Commit 235744e126c3fa65f5e5b8e36d874d9142fcbfaa should make sure the "Long" type is properly resolved, but somehow it isn't.

`pnpm why @types/long` output:
![image](https://user-images.githubusercontent.com/32304231/110216094-7d350200-7ead-11eb-8300-fb564a56cf76.png)

[2021-03-10 17:10] alexander-fenster commented on #965
That's weird, I'll take a look. Thank you for reporting.

[2021-03-10 17:29] alexander-fenster commented on #965
I'm going to fix it now.  The reason why this does not bother us (and everyone who uses `gts` - give it a try! `npx gts init` to create a new TypeScript project) is that we exclude `node_modules` from TypeScript compilation in `tsconfig.json`:
[code]
Anyway, #968 is going to fix it for you folks.

[2021-03-10 23:19] alexander-fenster commented on #965
Releasing the fix in v2.11.1.

[2021-03-12 22:41] bcoe opened #973 "Provide additional call site context when exception originates in gRPC"
Errors like `RESOURCE_EXHAUSTED` to not provide contextual information about where the exception occurs in a user's application:

[code]

It would be nice if we knew the specific method call that triggered exceptions.

Refs: https://github.com/googleapis/nodejs-datastore/issues/525

[2021-04-08 12:09] yoshi-automation opened #977 "Synthesis failed for gax-nodejs"
Hello! Autosynth couldn't regenerate gax-nodejs. :broken_heart:

Please investigate and fix this issue within 5 business days.  While it remains broken,
this library cannot be updated with changes to the gax-nodejs API, and the library grows
stale.

See https://github.com/googleapis/synthtool/blob/master/autosynth/TroubleShooting.md
for trouble shooting tips.

Here's the output from running `synth

[2021-04-09 12:09] yoshi-automation commented on #977
Autosynth is still having trouble generating gax-nodejs. :sob:

Please investigate and fix this issue within 5 business days.  While it remains broken,
this library cannot be updated with changes to the gax-nodejs API, and the library grows
stale.

See https://github.com/googleapis/synthtool/blob/master/autosynth/TroubleShooting.md
for trouble shooting tips.

Here's the output from running `synth.

[2021-04-10 12:09] yoshi-automation commented on #977
Autosynth is still having trouble generating gax-nodejs. :sob:

Please investigate and fix this issue within 5 business days.  While it remains broken,
this library cannot be updated with changes to the gax-nodejs API, and the library grows
stale.

See https://github.com/googleapis/synthtool/blob/master/autosynth/TroubleShooting.md
for trouble shooting tips.

Here's the output from running `synth.

[2021-04-11 12:10] yoshi-automation commented on #977
Autosynth passed, closing! :green_heart:

[2021-04-11 12:10] #977 closed

[2021-04-28 04:22] Flquintero opened #988 "Update @grpc/grpc-js dependency to version 1.3.0 to avoid node version requirement error"
Came across an issue when using a package that has google-gax package as a dependency which in turn uses @grpc/grpc-js. To be specific the issue was:

"... @grpc/grpc-js only works on Node ^8.13.0 || >=10.10.0"

First thing I did was check my node version and was using 12.x so that wasn't it.

So I checked grpc/grpc-js repo and in fact an issue was opened to address it. Please see [here](https://g

[2021-05-01 08:47] artyom-ivanov opened #993 "Invalid regular expression: invalid group specifier name in Safari"
I found some errors in Safari browser (macos and ios).
[This line of code](https://github.com/googleapis/gax-nodejs/blob/889730c1548a6dcc0b082a24c59a9278dd2296f6/src/pathTemplate.ts#L75) throws an error "SyntaxError: Invalid regular expression: invalid group specifier name".

[code]

Safari [doesn't support lookbehind](https://caniuse.com/js-regexp-lookbehind) yet, I think this is the reason for t

[2021-05-19 20:45] alicejli opened #1008 "Add 'type' parameter to 'warnings.ts'"
As part of respecting deprecation annotations (https://github.com/googleapis/gapic-generator-typescript/issues/853), we want to emit a DeprecationWarning when people attempt to use a deprecated method/service.

To do so, we want to use the 'warning' function in 'src/warnings.ts' and update it to include the type of warning to encompass DeprecationWarning.

[2021-05-24 23:40] #1008 closed

[2021-05-26 09:50] nielm opened #1013 "Confusing behavior when trying to set deadlines on a gRPC call"
I want to set a server-side deadline on a gRPC call so that the call is cancelled if it takes too long, This works in Java/GAX by setting the totalTimeout in RetrySettings, so the server-side appears to be working correctly.

Attempting to do the same in Node.js/GAX seems to be very confusing, and not matching the documentation:

TL/DR:
* it seems that the `CallOptions.timeout` which is documented

[2021-05-26 22:52] skuruppu commented on #1013
@alexander-fenster if you could please chime in here, that would be great. I filed #902 a while back, which is related.

@AVaksman you had some ideas on how to fix some of these issues, so please chime in.

@hengfengli, FYI.

[2021-05-27 09:30] nielm commented on #1013
Adding some more debugging:

[code]
allows me to see the the `grpc-timeout` header and status responses from GRPC.

It seems to be set inconsistently, and depending on the call, even when retries are not specified, the call is still retried...

For example, using the CallOptions with what seems to be the most reliable way to set the deadline:
[code]

A Spanner commit will have the`grpc-timeout` se

[2021-06-10 17:01] failure-checker[bot] opened #1025 "Warning: a recent release failed"
The following release PRs may have failed:

* #1023

[2021-06-13 17:00] #1025 closed

[2021-06-16 08:18] flaky-bot[bot] opened #1029 "compileProtos tool: compiles protos to JSON, JS, TS failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 03b5a4e19c61b6df311c04a360f91a10749332dc
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4c

[2021-06-16 08:18] flaky-bot[bot] opened #1030 "compileProtos tool: fixes types in the TS file failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 03b5a4e19c61b6df311c04a360f91a10749332dc
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4c

[2021-06-29 20:00] failure-checker[bot] opened #1044 "Warning: a recent release failed"
The following release PRs may have failed:

* #1023

[2021-06-30 21:44] #1044 closed

[2021-07-01 23:36] schmidt-sebastian opened #1046 "Unable to use gax in Jest with jsdom test environment"
See https://github.com/firebase/firebase-admin-node/issues/1135#issuecomment-859342414

[2021-07-07 21:57] bcoe opened #1048 "Refactor mTLS certificate loading logic into google-auth-library"
@bshaffer thinks that it would be better if we had our certificate loading helper in google-auth-library-nodejs, rather than in gax.

I like the idea for this refactor, because it would make it easier to reuse this certificate loading logic in REST libraries.

This doesn't change how we integrate the generated code with mTLS, so I think we can take this on as an eventual improvement.

[2021-07-09 07:09] alexander-fenster opened #1051 "Do not duplicate protos"
At this moment, the gax package contains two duplicate of protos: in `protos/` and in `build/protos/`, which is caused by some legacy and does not make any sense. We need to remove the `protos/` folder and leave only `build/protos` from the `files` section in `package.json`. This will be a breaking change, the generated libraries we must make sure they only use protos from the `build/protos/` fold

[2021-07-09 17:22] alexander-fenster commented on #1030
Will be taken care of by https://github.com/googleapis/gapic-generator-typescript/issues/866.

[2021-07-09 17:22] #1030 closed

[2021-07-09 17:22] alexander-fenster commented on #1029
Will be taken care of by https://github.com/googleapis/gapic-generator-typescript/issues/866.

[2021-07-09 17:22] #1029 closed

[2021-07-09 17:25] alexander-fenster commented on #1046
We need to change `isBrowser` from checking the `window` to the complete feature detection. The main thing here is to check if we need to use `window.fetch` or `node-fetch`, I don't think we use `isBrowser` for anything else.

[2021-07-09 17:26] alexander-fenster commented on #1013
Assigning to @summer-ji-eng for this sprint as discussed.

[2021-07-09 17:26] alexander-fenster commented on #902
Assigning to @summer-ji-eng for this sprint as discussed.

[2021-07-12 17:32] #1046 closed

[2021-07-16 10:51] alanmynah commented on #208
Well, if you found this and still think it's an issue :+1:

unsetting `PUBSUB_EMULATOR_HOST` does resolve, but would've been much happier if some console message saved me 3 days :rofl:

[2021-07-20 03:22] paimon0715 opened #1062 "Could you help remove the high severity vulnerability introduced in your package?"
Hi ,@alexander-fenster @summer-ji-eng , I’d like to report a high severity vulnerability in your package:
### Issue Description
   A vulnerability (high severity) [**CVE-2020-7768**](https://snyk.io/vuln/SNYK-JS-GRPC-598671) in package **@grpc/grpc-js<1.1.8** is transitively referenced by **_google-gax@1.15.3_**. We noticed that such vulnerability has been removed since _**google-gax@2.6.2-beta.0*

[2021-07-20 18:30] summer-ji-eng commented on #1062
Thanks for the feedback. We will take a look and keep posted here.

[2021-07-21 01:53] paimon0715 commented on #1062
@summer-ji-eng Thanks for your help. As a popular library version (240,523 downloads per week), if gax-nodejs can release a patch versoin google-gax@1.15.4, it can definitively remove the security threats to ten thousands of dependency paths.

Best regards

[2021-07-22 05:27] summer-ji-eng commented on #1062
@paimon0715  We released to [v1.15.4](https://www.npmjs.com/package/google-gax/v/1.15.4) with latest @grpc-grpcjs. Close this issue. Feel free to reach out if you have further question.

Thanks @alexander-fenster helping on publish this new version.

[2021-07-22 05:27] #1062 closed

[2021-08-05 05:35] MitulGedeeya opened #1076 "Error: no such type: google.ads.googleads.v8.errors.GoogleAdsFailure"
Hi,

I am facing the issue described in title. I checked and it seems it is due to the changes in Call.ts on Monday. I am not sure about that but can anyone please have a look?

I am facing issue originally on the google-ads-api library which is using this package.

https://github.com/Opteo/google-ads-api/issues/308

[2021-08-05 05:37] MitulGedeeya commented on #1076
@alexander-fenster it is breaking our whole app. can you please prioritise it?

[2021-08-05 05:44] MitulGedeeya commented on #1076
When I comment following code it works fine.

![image](https://user-images.githubusercontent.com/6191937/128297511-2e5b9eb0-470c-4326-8f27-861306b59c8e.png)

[2021-08-05 16:58] #1076 closed

[2021-08-05 17:38] alexander-fenster commented on #1076
`google-gax` v2.22.0 should have this fixed. Thank you for the report!

[2021-08-05 22:29] joeldasc commented on #993
How can i solve this? I have the same problem

[2021-08-06 07:05] alexander-fenster commented on #993
The easiest workaround so far is to replace `build/src/pathTemplate.js` with a null loader when webpacking (if you use webpack) - I did that for my personal project and it worked. Please note that we don't officially support browser use case at this moment (but we do try to keep it working). I will try to simplify the regexes in that file.

[2021-08-06 20:32] #993 closed

[2021-08-09 18:55] alexander-fenster commented on #927
Fixed by #1057 :)

[2021-08-09 18:55] #927 closed

[2021-08-11 15:04] bcoe opened #1082 "Migrate to main branch on GitHub"
We're in the process of migrating to using `main` as the primary branch name on GitHub.

It would be good if `gax-nodejs` was migrated, so that it's consistent with other Node.js repositories.

You will need to be mindful of any automation configured on this repository.

[2021-08-24 02:03] summer-ji-eng commented on #1082
Try to clarify that are you propose to use `main` branch to replace `master`?
Any timeline expect to delivery?

[2021-08-30 15:42] eyalpost opened #1091 "promote ErrorInfo feature fails in runtime when using a stricter version of protobufJs"
We use a patched version of protobufJs with a stricter version of the [`lookupType`](https://github.com/protobufjs/protobuf.js/blob/95b56817ef6fb9bdcb14d956c159da49d0889bff/index.d.ts#L810) function
Our strict version fails, for example, when using
`root.lookupType('StringValue')` instead of `root.lookupType('google.protobuf.StringValue')`
Why did we create this patch? because otherwise it allowed

[2021-08-31 21:50] #1091 closed

[2021-09-20 19:29] alicejli commented on #902
Hi @skuruppu - the latest version of gax should fix this: https://github.com/googleapis/gax-nodejs/releases/tag/v2.25.4

Once `nodejs-spanner` is updated to use the latest version of gax, please give it a try and let me know if that fixes the issue. Thanks!

[2021-09-22 22:46] summer-ji-eng commented on #1082
We did the migration to `main`. Close for now.

[2021-09-22 22:46] #1082 closed

[2021-09-22 22:49] summer-ji-eng opened #1113 "Keep avoid break Ads. Add integration test for Ads"
set up the testing infrastructure for Ads workflows. This should happen both in the generator and in google-gax, they both normally use Kokoro to set up jobs that require any kind of Google authentication.

[2021-09-22 22:50] summer-ji-eng commented on #1113
Urgent P2

[2021-10-06 17:58] crwilcox commented on #163
Leaving a note that perhaps Cloud Bigtable should move to using https://github.com/GoogleCloudPlatform/grpc-gcp-node/blob/abd989b7c616971b97e624580daeca7b0675e0a3/src/gcp_channel_factory.ts as spanner does. It is posible this issue should be closed and tracked in the libraries?

[2021-10-14 11:41] MitulGedeeya opened #1124 "TypeError: Channel credentials must be a ChannelCredentials object"
**Suddenly it stopped working**

[code]

I had to add resolutions as follow as a workaround

[code]

[2021-10-20 22:32] hkdevandla commented on #1124
@summer-ji-eng , can you take a look? Thanks!

[2021-10-20 23:24] summer-ji-eng commented on #1124
Thanks @MitulGedeeya file the issues. Can I have more context like what kind the channel or client options, and which api you are using.

@arithmetic1728 could you help me take a look is this relate to recent credential change? Thank you very much.

[2021-11-09 23:01] summer-ji-eng opened #1133 "Support mapping gRPC and HTTP status code"
Implement Canonical error code / HTTP mapping
similar to c# https://github.com/googleapis/gax-dotnet/pull/502

[2021-11-27 09:19] flaky-bot[bot] opened #1139 "streaming: forwards metadata and status failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 52f2bb71a1fd9676d2d2e68590324e0f9d92d278
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/a55d

[2021-11-29 21:19] vam-google commented on #1133
Adding p1 priority as it is blocker for GCE client GA

[2021-11-30 09:25] flaky-bot[bot] opened #1140 "Run end-to-end test: should be able to run tests against gRPC server failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 52f2bb71a1fd9676d2d2e68590324e0f9d92d278
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4a55

[2021-11-30 10:45] #1140 closed

[2022-01-05 16:14] tferrerm opened #1149 "Missing dependency `request` causes an error when using Google Cloud's Vision API"
#### Environment details

  - OS: Ubuntu 20.04 x64
  - Node.js version: v14.2.0
  - npm version: 7.24.1
  - `google-gax` version: 2.28.0

#### Steps to reproduce

  1. Create a `serverless` Node.js project
  2. Add the `serverless-webpack` plugin to your `serverless.yml` file and use `webpack` with `babel` to package the function that will be created
  3. Add `@google-cloud/vision` as a dependency

[2022-01-11 23:55] summer-ji-eng commented on #1133
fixed https://github.com/googleapis/gax-nodejs/pull/1135

[2022-01-11 23:55] #1133 closed

[2022-01-12 18:50] repo-metadata-lint[bot] opened #1164 "Your .repo-metadata.json file has a problem 🤒"
You have a problem with your .repo-metadata.json file:

Result of scan 📈:

* must have required property 'library_type' in .repo-metadata.json
* release_level must be equal to one of the allowed values in .repo-metadata.json

 ☝️ Once you correct these problems, you can close this issue.

Reach out to **go/github-automation** if you have any questions.

[2022-01-21 22:17] hkdevandla commented on #1149
@summer-ji-eng , can you please take a look? Thanks!

[2022-01-21 22:20] hkdevandla commented on #1013
Folks, what is the status here? Is this issue still in effect or resolved? Thanks!

[2022-01-21 23:56] summer-ji-eng commented on #1149
Hi @tferrerm,

Thanks for opening an issue. Quick try on `@google-cloud/vision` without `serverless`. It works for mode in `grpc`, `fallback/webpack` and `rest`.

Not sure if the missing dependency relate to webpack configuration, find couple similar asking ([link1](https://github.com/request/request/issues/1529), [link2](https://stackoverflow.com/questions/45057283/webpack-config-issue)).

Could

[2022-01-22 00:26] summer-ji-eng commented on #1013
This has been fixed #1100. Close for now.

Feel free to open for any further question.

[2022-01-22 00:26] #1013 closed

[2022-01-27 11:09] LsKoder opened #1461 "This library should allow to specify a proxy without env vars"
The unique way we have to use a proxy for PubSub Client is to set https_proxy over env variable.
This is a limit for this library because it could generate a conflict with other libraries that use the same logic.
We should be able to specify the proxy only for a specific service (like google), not globally.

A way to set https proxy should be allowed directly into constructor PubSub().
Please add

[2022-02-05 08:14] summer-ji-eng opened #1175 "Handle HTTP response is not JSON"
gax should catch error if the response is not JSON
https://github.com/googleapis/gax-nodejs/blob/a5702bd19ce7daae7fee5b60202bbf834e0621b0/src/fallbackRest.ts#L93

[2022-02-05 08:18] summer-ji-eng opened #1176 "Should catch reject promise of close client."
rpc method can't catch error of rejected promise
`(node:98660) UnhandledPromiseRejectionWarning: The client has already been closed.`

[code]

[2022-02-07 12:33] sohel87 commented on #1124
Hi @MitulGedeeya Have you managed to fix this issue?

[2022-02-07 17:00] sakari opened #1177 "Grpc client creation spends seconds in objectHash"
Every call to loadProtoJSON runs the given json object through object_hash. For ginormous protocol objects this can take seconds. Could we cache the object itself to avoid the hashing overhead on repeat call? See [poc](https://github.com/smartlyio/gax-nodejs/pull/1/files)

As an example using the grpc client in [google-ads-node](https://github.com/Opteo/google-ads-node/blob/8f80dd95458c3d553ceb4b6

[2022-02-10 05:53] summer-ji-eng opened #1181 "Should catch reject promise for closed client"
Unit test for closed client fails on `timeout`.
[code]
In the client library, if a client has been close, it return reject promise
[code]
In the gax, `call.ts` call() doesn't catch this reject promise cause the hanging out.

[2022-02-10 05:54] summer-ji-eng commented on #1181
Fix PR

[2022-02-10 19:49] #1181 closed

[2022-02-11 06:59] summer-ji-eng commented on #1176
fixed

[2022-02-11 06:59] #1176 closed

[2022-02-11 07:04] summer-ji-eng commented on #1177
We have a plan to get rid of the hashing. Because it estimate as a breaking change, we will do with next major release as long as the drop node. ETA end of Q1

[2022-02-12 09:29] flaky-bot[bot] opened #1186 "SpeechClient TypeScript system test default: calls longRunningRecognize failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: bee3781ee4741a845597dad79bf4a0998c716fc1
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4e3b

[2022-02-12 09:29] flaky-bot[bot] opened #1187 "Run system tests for some libraries speech: should pass system tests failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: bee3781ee4741a845597dad79bf4a0998c716fc1
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4e3b